@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: "PFMellonBold";
  src:
    url('../sources/fonts/PFMellonBold/font.woff2') format('woff2'),
    url('../sources/fonts/PFMellonBold/font.woff') format('woff');
}


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}



@layer components {}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no_scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}



/* Enlever chrome autofill color pour les inputs => solution mettre une transition très longie */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 9999s ease-out 9999s, background-color 9999s ease-out 9999s;
  -webkit-transition: color 9999s ease-out 9999s, background-color 9999s ease-out 9999s;
}

/* Pour les inputs avec un style imposé sur safari */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}




.mask_black_50::before {
  background: black;
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mask_map_cards {
  background: linear-gradient(0deg,
      rgba(231, 223, 255, 0.55) 0%,
      rgba(231, 223, 255, 0.55) 100%),
    linear-gradient(320deg,
      rgba(255, 255, 255, 0.58) 9.87%,
      rgba(255, 255, 255, 0.18) 94.37%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
}