<div class="flex gap-space-between-lg flex-wrap">
<!-- avatars start-->
    <!--variant xs-->
    <div class="relative avatar-size--${size} rounded-full border-${color}-stroke-md overflow-hidden">
        <svg class="absolute" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <circle cx="32" cy="32" r="32" fill="url(#pattern0)"/>
            <defs>
                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_3099_106031" transform="scale(0.015625)"/>
                </pattern>
            </defs>
        </svg>
        <img class="w-full h-full object-cover" src="./assets/img/media.jpg" alt="image-alt">
    </div>
    <!--variant xs end-->
<!-- avatars end-->
</div>