//================================ IMPORTATION 3 FEUILLES SASS A NE PAS MODIFIER =======================================
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";


//================================ MIXINS PAUL POUR LES MEDIA QUERIES =======================================
@mixin md768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg992 {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl1200 {
    @media (min-width: 1200px) {
        @content;
    }
}


//================================ CODE SCSS DU PROJET =======================================

.creation_profil {
    background-color: $white;
    color: $text;
    box-shadow: $card-shadow;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    @include lg992 {
        padding: 20px !important;
    }

    >h1 {
        margin: 0;
        color: $text;
        font-family: $ms_regular;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        text-align: left;

    }

    >.situation_box {
        >p {
            margin: 0;
            color: $text;
            font-family: $ms_semibold;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 16px;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include lg992 {
                flex-direction: row;
            }

            button {
                font-family: $ms_regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
                text-align: center;
                color: $text;
                background-color: $white;
                border: 1px solid $text;
                outline: none;
                border-radius: 6px;
                cursor: pointer;
                padding: 0px 20px;
                width: fit-content;

                &.active {
                    color: $white;
                    background-color: $text;
                }
            }
        }

    }


    >.action_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        row-gap: 24px;
        padding: 10px;

        @include lg992 {
            flex-direction: row;
        }

        button {
            text-align: center;
            border: none;
            outline: none;
            width: fit-content;
            cursor: pointer;

            &[disabled] {
                cursor: default;
            }
        }

        button:first-of-type {
            font-family: $ms_semibold;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            text-decoration-line: underline;
            color: $text;
            background-color: $white;
        }


        button:last-of-type {
            font-family: $ms_regular;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 16px 40px;
            color: $text;
            background-color: $primary-yellow;

            &[disabled] {
                color: $white;
                background-color: $border-grey;
            }
        }
    }

    >.content_box {
        padding: 20px;
        border: 1px solid $secondary-blue;
        position: relative;
        flex-direction: column;
        column-gap: 40px;
        row-gap: 28px;
        display: none;

        &.active {
            display: flex;
        }

        @include lg992 {
            flex-direction: row;
        }

        &::before{
            content: '';
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
            /* Définissez les dimensions du carré */
            width: 21px;
            height: 20px;
            position: absolute;
            top: -20px;
            left: 30px;
            background-color: $secondary-blue;

            /* Définissez la forme découpée en un carré de 30px par 30px */
            clip-path: polygon(0 100%, 50% 0, 100% 100%, 94% 100%, 50% 11%, 7% 100%);

            @include lg992 {
                display: block;
            }
        }

        &[data-trigger='2']::before{
            left: 260px;
        }

        >div {
            width: 100%;

            @include lg992 {
                width: calc(50% - 20px); //gap de 80px entre les 2 blocs
            }
        }



        >div:first-of-type {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                font-family: $ms_regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                color: $text;
                display: inline-flex;
                align-items: center;
            }

            >p {
                margin: 32px 0px;
                font-weight: 700;
            }

            span {
                font-family: $ms_semibold;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 24px;
                border-radius: 100%;
                flex: none;

            }

            >div {
                display: flex;
                flex-direction: column;
            }

            >div:first-of-type {
                span {
                    background-color: $secondary-blue;
                    color: $white;
                }
            }

            >div:last-of-type {
                span {
                    background-color: $bg-secondary-blue-light;
                    color: $secondary-blue;
                }
            }

            .separator {
                width: 3px;
                height: 30px;
                margin: 6px 20px;
                background-color: $border-grey;
            }

        }

        >div:last-of-type {
            padding: 20px;
            color: $text;
            background-color: $bg-secondary-blue-light;

            h3 {
                margin: 0;
                font-family: $ms_regular;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: $text;
                margin-bottom: 32px;
            }

            p {
                margin: 0;
                font-family: $ms_regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                color: $text;
            }

            strong {
                font-family: $ms_semibold;
                font-weight: 700;
            }

            em {
                font-size: 13px;
                font-style: italic;
            }
        }
    }
}