@charset "UTF-8";
/*$candidat: #ff4365;*/
/*$candidat-hover: #f72d52;*/
/*$recruteur: #00b6e7;
$recruteur-hover: #0198c2;*/
/* Background */
/*#f7f4ee*/
/* equivalent à rgba($secondary-blue, .1) et rgba(2, 96, 150, 0.1); */
/* Typo */
/* Other */
/* Shadow */
/* Slidetoggle */
/* Calendar */
/* marge du title-page */
/*$candidat: #ff4365;*/
/*$candidat-hover: #f72d52;*/
/*$recruteur: #00b6e7;
$recruteur-hover: #0198c2;*/
/* Background */
/*#f7f4ee*/
/* equivalent à rgba($secondary-blue, .1) et rgba(2, 96, 150, 0.1); */
/* Typo */
/* Other */
/* Shadow */
/* Slidetoggle */
/* Calendar */
/* marge du title-page */
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.help_trigger {
  content: "?";
  flex: none;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  background-color: #232558;
  border-radius: 100%;
  cursor: pointer;
  padding: 0px 7px;
  line-height: 24px;
}
@media (min-width: 992px) {
  .help_trigger {
    display: none;
  }
}

.action_box button {
  cursor: pointer;
  visibility: hidden;
}
.action_box button.active {
  visibility: visible;
}
.action_box button[disabled] {
  cursor: default;
}

.popin_active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 60%;
  z-index: 99;
}

.help_box {
  position: relative;
}
.help_box > div {
  padding: 15px;
}
@media (max-width: 992px) {
  .help_box > div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    padding: 24px 15px 40px 15px;
    z-index: 1000;
  }
  .help_box > div::before {
    content: "";
    background-color: #cfcfcf;
    display: block;
    width: 154px;
    height: 8px;
    border-radius: 10px;
    margin: 0 auto 32px auto;
  }
  .help_box > div.active {
    display: block;
  }
}
.help_box > div > h3 {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 15px;
  display: inline-flex;
}
.help_box > div > h3::before {
  content: url("../sources/icons/lightbulb-flash-line.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.help_box > div > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.help_box > div > p > em {
  font-style: italic;
}
@media (min-width: 992px) {
  .help_box > div[data-help=help_job] {
    margin: 345px 0px 15px 0px;
  }
}

.creation_profil {
  background-color: #ffffff;
  color: #232558;
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}
.creation_profil > h1 {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.creation_profil > .situation_box > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}
.creation_profil > .situation_box > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .creation_profil > .situation_box > div {
    flex-direction: row;
  }
}
.creation_profil > .situation_box > div button {
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #232558;
  background-color: #ffffff;
  border: 1px solid #232558;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0px 20px;
  width: -moz-fit-content;
  width: fit-content;
  transition: box-shadow 0.2s;
}
.creation_profil > .situation_box > div button.active {
  color: #ffffff;
  background-color: #232558;
}
.creation_profil > .situation_box > div button:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.creation_profil > .action_box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 24px;
  padding: 10px;
}
@media (min-width: 992px) {
  .creation_profil > .action_box {
    flex-direction: row;
  }
}
.creation_profil > .action_box button {
  text-align: center;
  border: none;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
.creation_profil > .action_box button:first-of-type {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
  color: #232558;
  background-color: #ffffff;
}
.creation_profil > .action_box button:last-of-type {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 3px;
  padding: 16px 40px;
  color: #232558;
  background-color: #fdc300;
  transition: background-color 0.2s;
}
.creation_profil > .action_box button:last-of-type[disabled] {
  color: #ffffff;
  background-color: #cfcfcf;
}
.creation_profil > .action_box button:last-of-type:not([disabled]):hover {
  color: #232558;
  background-color: #ffd038;
}

.creation_profil > .content_box {
  padding: 20px;
  border: 1px solid #026096;
  position: relative;
  flex-direction: column;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 28px;
  display: none;
  margin-top: 30px;
}
.creation_profil > .content_box.active {
  display: flex;
}
@media (min-width: 992px) {
  .creation_profil > .content_box {
    flex-direction: row;
  }
}
.creation_profil > .content_box > span {
  display: block;
  background-color: #ffffff;
  height: 1px;
  width: 15px;
  position: absolute;
  top: -1px;
  left: 30px;
  display: none;
}
@media (min-width: 992px) {
  .creation_profil > .content_box > span {
    display: block;
  }
}
.creation_profil > .content_box > span::before {
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 15px;
  position: absolute;
  top: -14px;
  left: -1px;
  background-color: #026096;
  /* Définissez la forme découpée en un carré de 30px par 30px */
  -webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%, 94% 100%, 50% 12%, 6% 100%);
          clip-path: polygon(0 100%, 50% 0, 100% 100%, 94% 100%, 50% 12%, 6% 100%);
}
.creation_profil > .content_box[data-trigger="2"] > span {
  left: 260px;
}
.creation_profil > .content_box > div {
  width: 100%;
}
@media (min-width: 992px) {
  .creation_profil > .content_box > div {
    width: calc(50% - 20px);
  }
}
.creation_profil > .content_box > div:first-of-type {
  display: flex;
  flex-direction: column;
}
.creation_profil > .content_box > div:first-of-type p {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #232558;
  display: inline-flex;
  align-items: center;
  min-height: 52px;
}
.creation_profil > .content_box > div:first-of-type > p {
  margin: 32px 0px;
  font-weight: 700;
  line-height: 22px;
  min-height: auto;
}
.creation_profil > .content_box > div:first-of-type span {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  border-radius: 100%;
  flex: none;
}
.creation_profil > .content_box > div:first-of-type > div {
  display: flex;
  flex-direction: column;
}
.creation_profil > .content_box > div:first-of-type > div:first-of-type span {
  background-color: #026096;
  color: #ffffff;
}
.creation_profil > .content_box > div:first-of-type > div:last-of-type span {
  background-color: #E5EFF4;
  color: #026096;
}
.creation_profil > .content_box > div:first-of-type .separator {
  width: 3px;
  height: 30px;
  margin: 6px 20px;
  background-color: #cfcfcf;
}
.creation_profil > .content_box > div:last-of-type {
  padding: 20px;
  color: #232558;
  background-color: #E5EFF4;
}
.creation_profil > .content_box > div:last-of-type h3 {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #232558;
  margin-bottom: 32px;
}
.creation_profil > .content_box > div:last-of-type p {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #232558;
}
.creation_profil > .content_box > div:last-of-type strong {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-weight: 700;
}
.creation_profil > .content_box > div:last-of-type em {
  font-size: 13px;
  font-style: italic;
  line-height: 22px;
}

.wish_profil {
  background-color: #ffffff;
  color: #232558;
  padding: 0px 15px 0px 15px;
  position: relative;
}
.wish_profil > h1 {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wish_profil > p:first-of-type {
  margin: 0;
  color: #7a8999;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 35px;
}
.wish_profil > .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wish_profil > .pagination_box {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: nowrap;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .wish_profil > .pagination_box {
    position: absolute;
    top: 50px;
    right: 15px;
    margin-top: 0px;
  }
}
.wish_profil > .pagination_box > a {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #cfcfcf;
  cursor: pointer;
}
.wish_profil > .pagination_box > a.active {
  width: 60px;
  background-color: #232558;
}

.wish_profil .position_box {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  min-height: 37px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
.wish_profil .position_box > span {
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-weight: 500;
  line-height: 22px;
  /* a la place de 16.8px alignement mauvais remonté par quentin */
}

.wish_profil .salary_box > p:first-of-type {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}
.wish_profil .salary_box > input:first-of-type {
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  width: 90px;
  height: 32px;
  padding: 10px;
  margin: 6px 0px 16px 0px;
}
.wish_profil .salary_box > input:first-of-type::-moz-placeholder {
  color: #7a8999;
}
.wish_profil .salary_box > input:first-of-type::placeholder {
  color: #7a8999;
}
.wish_profil .salary_box > input:first-of-type:focus, .wish_profil .salary_box > input:first-of-type:focus-visible {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wish_profil .salary_box > div:last-of-type {
  display: flex;
  align-items: center;
}
.wish_profil .salary_box > div:last-of-type > input,
.wish_profil .salary_box > div:last-of-type label {
  cursor: pointer;
}
.wish_profil .salary_box > div:last-of-type > label {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-left: 12px;
}

.wish_profil .job_box > p:first-of-type {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .wish_profil .job_box > p:first-of-type {
    display: block;
  }
}
.wish_profil .job_box > p:nth-child(2) {
  margin: 0;
  color: #026096;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  margin: 20px 0px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.wish_profil .job_box > p:nth-child(2)::before {
  content: url("../sources/icons/lightbulb-flash-line.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.wish_profil .job_box > div {
  padding: 10px;
  border-radius: 6px;
  outline: 1px solid #026096;
}
.wish_profil .job_box > div > div {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
.wish_profil .job_box > div > div > p {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  border: 1px solid #026096;
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}
.wish_profil .job_box > div > div > p::after {
  content: url("../sources/icons/plus.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.wish_profil .job_box > div > div > p > span {
  max-width: 188px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wish_profil .job_box > div > div > p:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.wish_profil .job_box > div > div > p.active {
  color: #ffffff;
  background-color: #232558;
}
.wish_profil .job_box > div > div > p.active::after {
  content: url("../sources/icons/delete_white.svg");
}
.wish_profil .job_box > div > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: none;
  margin: 15px 0px;
}
.wish_profil .job_box > div > p.active {
  display: block;
}
.wish_profil .job_box > div > p:first-of-type {
  color: #e73b2b;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0px;
}
.wish_profil .job_box > div > p:first-of-type.active {
  display: inline-flex;
}
.wish_profil .job_box > div > p:first-of-type::before {
  content: url("../sources/icons/icon_warning.png");
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 10px;
}
.wish_profil .job_box > div > p:last-of-type {
  margin: 0px 0px 30px 0px;
}
.wish_profil .job_box > div > div > input {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  width: 550px;
  max-width: 100%;
  height: 32px;
  padding: 10px;
  margin-bottom: 10px;
}
.wish_profil .job_box > div > div > input[disabled] {
  background-color: rgba(27, 50, 68, 0.1);
}
.wish_profil .job_box > div > div > input::-moz-placeholder {
  color: #7a8999;
}
.wish_profil .job_box > div > div > input::placeholder {
  color: #7a8999;
}
.wish_profil .job_box > div > div > input:focus, .wish_profil .job_box > div > div > input:focus-visible {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.wish_profil .sector_box > p:first-of-type {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .wish_profil .sector_box > p:first-of-type {
    display: block;
  }
}
.wish_profil .sector_box > p:nth-child(2) {
  margin: 0;
  color: #026096;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin: 20px 0px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
.wish_profil .sector_box > p:nth-child(2)::before {
  content: url("../sources/icons/lightbulb-flash-line.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.wish_profil .sector_box > div {
  padding: 10px;
  border-radius: 6px;
  outline: 1px solid #026096;
}
.wish_profil .sector_box > div > div {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 17px;
       column-gap: 17px;
  row-gap: 10px;
  max-height: 144px;
  overflow-y: hidden;
  transition: max-height 0.3s ease;
}
@media (min-width: 768px) {
  .wish_profil .sector_box > div > div {
    max-height: 96px;
  }
}
.wish_profil .sector_box > div > div > p {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  border: 1px solid #026096;
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}
.wish_profil .sector_box > div > div > p::after {
  content: url("../sources/icons/plus.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.wish_profil .sector_box > div > div > p > span {
  max-width: 245px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wish_profil .sector_box > div > div > p:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.wish_profil .sector_box > div > div > p.active {
  color: #ffffff;
  background-color: #232558;
}
.wish_profil .sector_box > div > div > p.active::after {
  content: url("../sources/icons/delete_white.svg");
}
.wish_profil .sector_box > div > p {
  margin: 0;
  color: #e73b2b;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  display: none;
  margin-top: 10px;
  align-items: center;
  width: 100%;
}
.wish_profil .sector_box > div > p.active {
  display: inline-flex;
}
.wish_profil .sector_box > div > p::before {
  content: url("../sources/icons/icon_warning.png");
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 10px;
}
.wish_profil .sector_box > div button {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
  background-color: unset;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.wish_profil .sector_box > div button::before {
  content: url("../sources/icons/cheveron-down.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
  transform: rotate(0deg);
}
.wish_profil .sector_box > div button.active::before {
  transform: rotate(180deg);
}

.wish_profil .location_box > p:first-of-type {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-bottom: 6px;
}
.wish_profil .location_box > input {
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  width: 380px;
  max-width: 100%;
  height: 32px;
  padding: 10px;
}
.wish_profil .location_box > input::-moz-placeholder {
  color: #7a8999;
}
.wish_profil .location_box > input::placeholder {
  color: #7a8999;
}
.wish_profil .location_box > input:focus, .wish_profil .location_box > input:focus-visible {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wish_profil .location_box > .js_location_box_container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.wish_profil .location_box > .js_location_box_container > div {
  width: 248px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.wish_profil .location_box > .js_location_box_container > div > p:first-of-type {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.8px;
  border-radius: 6px;
  color: #232558;
  border: 1px solid #026096;
  padding: 10px 16px;
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.wish_profil .location_box > .js_location_box_container > div > p:first-of-type > button {
  margin-left: 18px;
  height: 16px;
  background-color: unset;
  padding: 0 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.wish_profil .location_box > .js_location_box_container > div > p:first-of-type > button::after {
  content: url("../sources/icons/cross.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
}
.wish_profil .location_box > .js_location_box_container > div > p:nth-child(2) {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #232558;
}
.wish_profil .location_box > .js_location_box_container > div > p:nth-child(2) > strong {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-weight: 700;
}
.wish_profil .location_box > .js_location_box_container > div > p:last-of-type {
  margin: 0;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #7a8999;
  display: inline-flex;
  justify-content: space-between;
}
.wish_profil .location_box > .js_location_box_container > div > input {
  accent-color: #232558;
  cursor: pointer;
}

.wish_profil > .action_box {
  margin: 118px 0px 20px 0px;
  text-align: center;
}
.wish_profil > .action_box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .wish_profil > .action_box > div {
    flex-direction: row;
  }
}
.wish_profil > .action_box > div > p {
  margin: 0;
  color: #232558;
  text-align: center;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.wish_profil > .action_box > div > button {
  margin: 0;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 193px;
  height: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 0.2s;
  outline: none;
}
.wish_profil > .action_box > div > button:first-of-type {
  color: #026096;
  background-color: #ffffff;
  border: 1px solid #026096;
}
.wish_profil > .action_box > div > button:first-of-type:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.wish_profil > .action_box > div > button:last-of-type {
  color: #232558;
  background-color: #fdc300;
}
.wish_profil > .action_box > div > button:last-of-type:hover {
  background-color: #ffd038;
}
.wish_profil > .action_box > button:last-of-type {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
  color: #232558;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.wish_profil_help {
  position: relative;
}
.wish_profil_help > div {
  padding: 15px;
  position: absolute;
}
.wish_profil_help > div > h3 {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 15px;
  display: inline-flex;
}
.wish_profil_help > div > h3::before {
  content: url("../sources/icons/lightbulb-flash-line.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.wish_profil_help > div > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.wish_profil_help > div > p > em {
  font-style: italic;
}

.input_autocompletion {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.input_autocompletion > ul {
  position: absolute;
  bottom: 1px;
  transform: translateY(100%);
  width: 100%;
  background-color: #ffffff;
  border: 0.5px solid #cfcfcf;
  border-radius: 2px;
  list-style: none;
  padding: 11px 11px 7px 44px;
}

.input_autocompletion > ul > li {
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  color: #232558;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}

.input_autocompletion > ul > li > strong {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-weight: 700;
}

.position {
  background-color: #ffffff;
  color: #232558;
  padding: 0px 15px 0px 15px;
  position: relative;
}
.position > h1 {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
.position > p:first-of-type {
  margin: 0;
  color: #7a8999;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.position > .pagination_box {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: nowrap;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .position > .pagination_box {
    position: absolute;
    top: 50px;
    right: 15px;
    margin-top: 0px;
  }
}
.position > .pagination_box > a {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #cfcfcf;
  cursor: pointer;
}
.position > .pagination_box > a.active {
  width: 60px;
  background-color: #232558;
}

.position .position_box {
  margin: 40px 0;
}
@media (min-width: 992px) {
  .position .position_box {
    margin: 10px 0 24px 0;
  }
}
.position .position_box > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .position .position_box > p {
    display: block;
  }
}
.position .position_box > input {
  color: #232558;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  width: 380px;
  max-width: 100%;
  height: 32px;
  padding: 10px;
}
@media (min-width: 992px) {
  .position .position_box > input {
    width: 380px;
  }
}
.position .position_box > input::-moz-placeholder {
  color: #7a8999;
}
.position .position_box > input::placeholder {
  color: #7a8999;
}
.position .position_box > input:focus, .position .position_box > input:focus-visible {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.position .experience_box > p {
  margin: 0;
  color: #232558;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .position .experience_box > p {
    margin-bottom: 7px;
  }
}
.position .experience_box form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) {
  .position .experience_box form {
    flex-direction: row;
  }
}
.position .experience_box form label {
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #232558;
  border: 1px solid #232558;
  background-color: #ffffff;
  margin: 0;
  padding: 6px 20px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
@media (min-width: 768px) {
  .position .experience_box form label {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.position .experience_box form label strong {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-weight: 600;
  line-height: 24px;
}
.position .experience_box form label:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.position .experience_box form input {
  display: none;
}
.position .experience_box form input:checked + label {
  color: #ffffff;
  background-color: #232558;
}

.position > .action_box {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .position > .action_box {
    margin: 68px 0px 20px 0px;
  }
}
.position > .action_box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .position > .action_box > div {
    flex-direction: row;
  }
}
.position > .action_box > div > p {
  margin: 0;
  color: #232558;
  text-align: center;
  font-family: "Montserrat-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.position > .action_box > div > button {
  margin: 0;
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 193px;
  height: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 0.2s;
  outline: none;
}
.position > .action_box > div > button:first-of-type {
  color: #026096;
  background-color: #ffffff;
  border: 1px solid #026096;
}
.position > .action_box > div > button:first-of-type:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.position > .action_box > div > button:last-of-type {
  color: #232558;
  background-color: #fdc300;
}
.position > .action_box > div > button:last-of-type[disabled] {
  color: #ffffff;
  background-color: #cfcfcf;
}
.position > .action_box > div > button:last-of-type:not([disabled]):hover {
  color: #232558;
  background-color: #ffd038;
}
.position > .action_box > button:last-of-type {
  font-family: "Montserrat-SemiBold", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
  color: #232558;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}