<script type="javascript">

</script>

<div stepper class="flex container max-w-screen-xl gap-space-between-lg">
    <!-- stepper start-->
    <ol class="flex w-full gap-1 justify-center flex-wrap max-xl:[&:hover>li_div.active:not(:hover)_span]:hidden ">
        <li class="inline-flex xl:flex-grow [&>div]:w-full ">
            <!-- @stepper-item validated start-->
            <div class="validated group flex flex-col w-fit gap-[5px] text-secondary-text-md">
                <div class="inline-flex h-[20px] xl:h-2 min-w-[48.5px] items-center justify-center px-4 rounded-full bg-neutral-surface-md border border-secondary-stroke-md  group-[.active]:bg-primary-surface-md group-[.active]:border-primary-surface-md group-[.active]:shadow-sm group-[.validated]:bg-tertiary-dark-green-high group-hover:group-[.validated]:bg-tertiary-dark-green-xhigh group-[.validated]:border-tertiary-dark-green-xhigh transition-all">
                    <span class="hidden body-s-bold font-mono max-xl:group-hover:flex max-xl:group-[.active]:flex max-xl:group-[.active]:text-neutral-text-xlow max-xl:group-[.validated]:text-neutral-text-xlow">Lorem ipsum</span>
                </div>
                <span class="hidden xl:flex body-s group-hover:body-s-bold group-hover:tracking-[-.029em] group-[.active]:body-s-bold group-[.active]:tracking-[-.029em] font-mono self-center">Lorem ipsum</span>
            </div>
            <!-- @stepper-item validated end-->
        </li>
        <li class="inline-flex xl:flex-grow [&>div]:w-full ">
            <!-- @stepper-item active start-->
            <div class="active group flex flex-col w-fit gap-[5px] text-secondary-text-md ">
                <div class="inline-flex h-[20px] xl:h-2 min-w-[48.5px] items-center justify-center px-4 rounded-full bg-neutral-surface-md border border-secondary-stroke-md  group-[.active]:bg-primary-surface-md group-[.active]:border-primary-surface-md group-[.active]:shadow-sm group-[.validated]:bg-tertiary-dark-green-high group-hover:group-[.validated]:bg-tertiary-dark-green-xhigh group-[.validated]:border-tertiary-dark-green-xhigh">
                    <span class="hidden body-s-bold font-mono max-xl:group-hover:flex max-xl:group-[.active]:flex max-xl:group-[.active]:text-neutral-text-xlow max-xl:group-[.validated]:text-neutral-text-xlow">Lorem ipsum</span>
                </div>
                <span class="hidden xl:flex body-s group-hover:body-s-bold group-hover:tracking-[-.029em] group-[.active]:body-s-bold group-[.active]:tracking-[-.029em] font-mono self-center">Lorem ipsum</span>
            </div>
            <!-- @stepper-item active end-->
        </li>
        <li class="inline-flex xl:flex-grow [&>div]:w-full ">
            <!-- @stepper-item default start-->
            <div class="group flex flex-col w-fit gap-[5px] text-secondary-text-md">
                <div class="inline-flex h-[20px] xl:h-2 min-w-[48.5px] items-center justify-center px-4 rounded-full bg-neutral-surface-md border border-secondary-stroke-md  group-[.active]:bg-primary-surface-md group-[.active]:border-primary-surface-md group-[.active]:shadow-sm group-[.validated]:bg-tertiary-dark-green-high group-hover:group-[.validated]:bg-tertiary-dark-green-xhigh group-[.validated]:border-tertiary-dark-green-xhigh">
                    <span class="hidden body-s-bold font-mono max-xl:group-hover:flex max-xl:group-[.active]:flex max-xl:group-[.active]:text-neutral-text-xlow max-xl:group-[.validated]:text-neutral-text-xlow">Lorem ipsum</span>
                </div>
                <span class="hidden xl:flex body-s group-hover:body-s-bold group-hover:tracking-[-.029em] group-[.active]:body-s-bold group-[.active]:tracking-[-.029em] font-mono self-center">Lorem ipsum</span>
            </div>
            <!-- @stepper-item default end-->
        </li>
        <li class="inline-flex xl:flex-grow [&>div]:w-full ">
            <!-- @stepper-item default start-->
            <div class="group flex flex-col w-fit gap-[5px] text-secondary-text-md">
                <div class="inline-flex h-[20px] xl:h-2 min-w-[48.5px] items-center justify-center px-4 rounded-full bg-neutral-surface-md border border-secondary-stroke-md  group-[.active]:bg-primary-surface-md group-[.active]:border-primary-surface-md group-[.active]:shadow-sm group-[.validated]:bg-tertiary-dark-green-high group-hover:group-[.validated]:bg-tertiary-dark-green-xhigh group-[.validated]:border-tertiary-dark-green-xhigh">
                    <span class="hidden body-s-bold font-mono max-xl:group-hover:flex max-xl:group-[.active]:flex max-xl:group-[.active]:text-neutral-text-xlow max-xl:group-[.validated]:text-neutral-text-xlow">Lorem ipsum</span>
                </div>
                <span class="hidden xl:flex body-s group-hover:body-s-bold group-hover:tracking-[-.029em] group-[.active]:body-s-bold group-[.active]:tracking-[-.029em] font-mono self-center">Lorem ipsum</span>
            </div>
            <!-- @stepper-item default end-->
        </li>
        <li class="inline-flex xl:flex-grow [&>div]:w-full ">
            <!-- @stepper-item default start-->
            <div class="group flex flex-col flex-none w-fit gap-[5px] text-secondary-text-md">
                <div class="inline-flex h-[20px] xl:h-2 min-w-[48.5px] items-center justify-center px-4 rounded-full bg-neutral-surface-md border border-secondary-stroke-md  group-[.active]:bg-primary-surface-md group-[.active]:border-primary-surface-md group-[.active]:shadow-sm group-[.validated]:bg-tertiary-dark-green-high group-hover:group-[.validated]:bg-tertiary-dark-green-xhigh group-[.validated]:border-tertiary-dark-green-xhigh">
                    <span class="hidden body-s-bold font-mono max-xl:group-hover:flex max-xl:group-[.active]:flex max-xl:group-[.active]:text-neutral-text-xlow max-xl:group-[.validated]:text-neutral-text-xlow">Lorem ipsum</span>
                </div>
                <span class="hidden justify-center xl:flex body-s group-hover:body-s-bold group-hover:tracking-[-.029em] group-[.active]:body-s-bold group-[.active]:tracking-[-.029em] font-mono self-center">Lorem ipsum</span>
            </div>
            <!-- @stepper-item default end-->
        </li>
    </ol>
    <!-- stepper end-->

</div>
