*{
    color: rgb(1, 122, 205);
}


/*
==============================================================================================================================
LIENS
==============================================================================================================================

List items
https://www.figma.com/file/luUfaiejpifXsvaQfh494R/DS_ressources-(Copy)---27-03-2024?node-id=3284%3A24113&mode=dev

https://lmg-ds-qa.netlify.app
LMG-ds*2324


==============================================================================================================================
GUIDELINES
==============================================================================================================================

toutes les couleurs ne sont pas créee, exemple color: var(--Brand-Secondary-text-md, #412761); pour "Title en body XL bold"
pareil pour la bordure de la maison j'ai l'impression
var(--Brand-Primary-stroke-md, #B10967);

j'ai utilisé les couleurs artbitraires tailwinds à la volée car toutes les couleurs ne sont pas utilisées

je peux les créer dans le main-default.css mais je ne l'ai pas encore fait


j'ai pris les svg du figma directement pour plus de ressemblance
pour l'icone coeur il y a 3 couleurs par exemple, le petit point, le contour coeur, et le tracé intérieur en electrocardiogramme


la font-family n'est pas dispo directement dans ce qui est déjà crée également
font-family: Manrope;



fill="currentColor" dans le svg
=> faut il le laisser ou alors mettre la couleur en dur?

svg depuis le figma ou depuis le storybook

bien regarder les autres éléments de hover


Commencer par list group dans un premier temps
En priorité il faudra faire les éléments horizontaux et ensuite les éléments verticaux.







*/
