/* 
Je suis Ruben Cherbit CTO chez Eskimoz.
On recherche un intégrateur pour une toute petite mission
on souhaite intégrer le même design qui encadre la vidéo youtube de cette page:
https://www.eskimoz.fr/referencement-naturel/ sur cette page nft.eskimoz.com la ou il y'a la vidéo youtube.




https://www.eskimoz.fr/referencement-naturel/

https://nft.eskimoz.com/


Largeur max du conteneur à 814px comme les autres

pas de padding car normalement intégré plus haut dans le code dans l'arborescence
(de ce que je vois sur le site)



*/