@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
      font-family: "Montserrat", system-ui, sans-serif;
      font-optical-sizing: auto;
  }
}

@layer components {
  .frame_primary_orange strong {
    @apply  bg-primary-orange text-white font-medium inline-block leading-[1.2em] pt-2;
}
}


.clip-path-polygon::after{
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.background_gradient{
  background: transparent linear-gradient(58deg, #62D4A8 0%, #4FBDA3 15%, #369E9C 37%, #248997 59%, #197C94 80%, #167894 100%) 
  0% 0% no-repeat padding-box;
}



