@charset "UTF-8";
/*==================== FONT-FAMILY ====================*/
html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #000000;
  background: #FFFFFF;
}

.breadcrumb {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 300;
  font-size: 46px;
  line-height: 58px;
}

h2 {
  font-weight: 300;
  font-size: 46px;
  line-height: 58px;
}

.h2_36_48 {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.h2_36_44 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.h2_42_54 {
  font-weight: 800;
  font-size: 42px;
  line-height: 54px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.h3_21_28 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
}

h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
}

.h4_13_21 {
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
}

h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

.p_small {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.p_small_bold {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.p_tiny {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.p_tiny_uppercase_bold {
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.form_label {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.form_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.weight_600 {
  font-weight: 600;
}

.menu_main,
.menu_secondary {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.menu_category {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/*==================== BACKGROUNDS & COLORS ====================*/
.color_black {
  color: #000000;
}

.color_white {
  color: #FFFFFF;
}

.color_menu_category {
  color: #716C80;
}

.background_black {
  background: black;
}

.background_black_lighter {
  background: #131313;
}

.background_white {
  background: #FFFFFF;
}

.background_grey_soft {
  background: #D9D9D9;
}

.background_white_break {
  background: #F5F5F5;
}

.background_grey_softer,
.background_offers_grey {
  background: #F4F4F4;
}

.background_grey_strong,
.background_offers_black {
  background: rgba(19, 19, 19, 0.7333333333);
}

.background_grey_testimony {
  background: #F0F0F0;
}

.border_grey {
  border: 1px solid #D3D4D8;
}

/*==================== RESET CSS ====================*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/*==================== CLASSES UTILITAIRES ====================*/
/*==================== WIDTH HEIGHT ====================*/
.mw_800_auto {
  max-width: 800px;
  margin: auto;
}

.mw_1000_auto {
  max-width: 1000px;
  margin: auto;
}

.mw_1140_auto {
  max-width: 1140px;
  margin: auto;
}

.mw_1440_auto {
  max-width: 1440px;
  margin: auto;
}

.my_auto {
  margin-left: auto;
  margin-right: auto;
}

.mw_280 {
  max-width: 280px;
}

.mw_320 {
  max-width: 320px;
}

.mw_340 {
  max-width: 340px;
}

.mw_345 {
  max-width: 345px;
}

.mw_400 {
  max-width: 400px;
}

.mw_420 {
  max-width: 420px;
}

.mw_430 {
  max-width: 430px;
}

.mw_440 {
  max-width: 440px;
}

.mw_460 {
  max-width: 460px;
}

.mw_480 {
  max-width: 480px;
}

.mw_520 {
  max-width: 520px;
}

.mw_530 {
  max-width: 530px;
}

.mw_600 {
  max-width: 600px;
}

.mw_630 {
  max-width: 630px;
}

.mw_650 {
  max-width: 650px;
}

.w_100 {
  width: 100%;
}

.h_50 {
  height: 50%;
}

/*==================== MARGIN ====================*/
.m_auto {
  margin: auto;
}

.mt_18 {
  margin-top: 18px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_60 {
  margin-top: 60px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_90 {
  margin-bottom: 90px;
}

.mb_110 {
  margin-bottom: 110px;
}

/*==================== GAP ====================*/
.gap_10 {
  gap: 10px;
}

.gap_20 {
  gap: 20px;
}

.gap_30 {
  gap: 30px;
}

.gap_40 {
  gap: 40px;
}

.gap_45 {
  gap: 45px;
}

.gap_50 {
  gap: 45px;
}

.gap_60 {
  gap: 60px;
}

.gap_80 {
  gap: 80px;
}

/*==================== FLEXBOX ====================*/
.flex {
  display: flex;
  flex-direction: row;
}

.flex_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_start_center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex_center_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex_center_start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.flex_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_between_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column_end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.flex_column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

/*==================== TEXT ALIGN & RADIUS & DNONE ====================*/
.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.border_radius_4 {
  border-radius: 4px;
}

.dnone {
  display: none;
}

/*==================== A VIRER ====================*/
h1 {
  height: 2000px;
  margin-top: 300px;
  background-color: rgb(241, 239, 239);
}

/*==================== HEADER & NAV ====================*/
header,
nav,
.dropdown_menu {
  position: fixed;
}

header,
nav {
  height: 80px;
  z-index: 10;
}

header {
  width: 100%;
}

nav {
  width: calc(100% - 68px);
  border-bottom: 0.5px solid #ABA8B7;
  padding: 0 34px;
  z-index: 10;
}
nav span {
  width: 46px;
  height: 46px;
}
nav button {
  border: none;
  background: none;
}

.nav_links img {
  width: 8px;
  margin-left: 8px;
  transition: transform 0.2s ease-out;
}

/*==================== DROPDOWN MENU & SUBMENU ====================*/
.dropdown_menu {
  top: 80px;
  padding: 50px 80px 50px 80px;
  width: calc(100% - 160px);
  border-bottom: 0.5px solid #ABA8B7;
  z-index: 9;
  min-height: 40vh;
}

.dropdown_menu_container_left {
  width: 750px;
  row-gap: 40px;
}

.dropdown_submenu {
  width: 33.33%;
}

.dropdown_menu_container_right {
  width: 240px;
}

.dropdown_menu_vignette_main,
.dropdown_menu_vignette {
  padding: 30px 20px;
}

.dropdown_menu_vignette_main {
  gap: 20px;
  flex: 1;
}

.dropdown_menu_vignette_main:hover,
.dropdown_menu_vignette:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*==================== CLASSE AJOUTEES EN JS ====================*/
body.noscroll {
  overflow-y: hidden;
}

/*==================== MENU DESKTOP ====================*/
.nav_links_toggle.menu_desktop {
  font-weight: 600;
}

.nav_links_toggle img.menu_desktop {
  transform: rotate(-180deg);
}

.dropdown_menu.menu_desktop {
  display: flex !important;
}

/*==================== MENU MOBILE ====================*/
header.menu_mobile {
  height: 100vh;
}

.nav_links.menu_mobile {
  display: flex;
}

.burgermenu_open.menu_mobile {
  display: none;
}

.burgermenu_close.menu_mobile {
  display: block;
}

/*==================== MENU MOBILE INSIDE ====================*/
.nav_links_toggle.menu_mobile_inside {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 15px;
}

.nav_links_toggle img.menu_mobile_inside {
  transform: rotate(90deg);
}

.nav_links.menu_mobile_inside {
  height: 60px;
  top: 80px;
  margin-left: -20px;
  width: calc(100% - 40px);
  justify-content: center;
  padding: 0px 20px;
  border-bottom: 0.5px solid #ABA8B7;
}

nav.menu_mobile_inside {
  height: 130px;
}

.nav_links button.dnone {
  display: none;
}

.dropdown_menu.menu_mobile_inside {
  display: flex !important;
  transform: translateX(0%);
  transition: transform 0.3s;
}

/*==================== FOOTER ====================*/
.footer_contact {
  background: rgba(19, 19, 19, 0.7333333333);
  color: #FFFFFF;
  padding: 40px 73px 68px 73px;
}
.footer_contact p {
  margin: 24px 0px 37px 0px;
  max-width: 300px;
}
.footer_contact a {
  height: 46px;
  width: 198px;
  border: none;
  background: #000000;
  color: #FFFFFF;
}
.footer_contact a img {
  margin: 0 15px 0 21px;
  width: 20px;
}

.footer_contact_img {
  width: 150px;
  height: 150px;
  background: #F5F5F5;
}

.contact_white {
  display: inline-block;
}

.contact_dark {
  display: none;
}

.footer_links {
  background: #131313;
  height: 100px;
  border-top: 1px solid #454545;
  padding: 0px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_links_container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer_links_separator {
  display: inline-block;
  width: 1.5px;
  height: 18px;
  margin: 0 10px;
  background: white;
}

.footer_links_social {
  height: 101px;
  border-top: 1px solid #454545;
}

/*==================== MEDIA QUERIES ====================*/
/*==================== SECTIONS DEFINITIONS GENERALES ====================*/
/* 
main-conteneur : 1000px centré
title : max-width : 430px
paragraph : max-width : 460px
marges : 100px en bureau, 20px en mobile
*/
section {
  padding: 120px 100px;
  text-align: left;
}

/*==================== SECTION 1 HERO ====================*/
.section_hero {
  position: relative;
  overflow: hidden;
}

.section_hero_background_image_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section_hero_background_image_container img {
  max-width: 1440px;
  width: 100%;
}

/*==================== SECTION 2 EMPLOYEES ====================*/
/*==================== SECTION 3 NUMBERS ====================*/
.section_numbers_card {
  width: calc(33.33% - 20px);
}

.section_numbers_card_number {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 18px;
}

/*==================== SECTION 4 COMMUNITY ====================*/
.section_community_h2 {
  margin-top: 18px;
  margin-bottom: 50px;
}

.section_community_card {
  height: 400px;
  width: calc(33.33% - 30px);
  max-width: 350px;
  text-align: left;
}

.section_community_card_hover {
  transition: all 0.2s ease;
}

.section_community_card_hover:hover {
  transform: scale(1.05);
  /* box-shadow: 0px 0px 0 5px #D9D9D9; */
}

.section_community_card span {
  width: 84px;
  height: 84px;
  margin: 50px 0px 30px 30px;
  border-radius: 100%;
}
.section_community_card img {
  max-height: 35px;
}
.section_community_card h3 {
  margin-left: 30px;
}
.section_community_card p {
  margin: 30px 50px 30px 30px;
}

/*==================== SECTION 5 NEWSLETTER ====================*/
.section_newsletter_input {
  gap: 0;
}
.section_newsletter_input button {
  height: 46px;
  width: 100%;
  max-width: 154px;
  border: none;
}
.section_newsletter_input input {
  height: 44px;
  width: calc(100% - 18px);
  max-width: 282px;
  padding-left: 16px;
}

/*==================== SECTION 6 OFFERS ====================*/
.section_offers {
  padding: 120px 30px;
}

.section_offers_card {
  width: 220px;
  height: 229px;
  padding: 36px 52px 35px 28px;
}
.section_offers_card h3 {
  margin-bottom: 36px;
}
.section_offers_card a {
  font-weight: 600;
}
.section_offers_card a img {
  width: 15px;
}

/*==================== SECTION 7 FUNCTIONALITIES ====================*/
.section_functionalities h2 {
  margin: 0px auto 39px auto;
  max-width: 630px;
}
.section_functionalities p {
  margin: 0px auto 80px auto;
  max-width: 650px;
}

.section_functionalities_container {
  gap: 60px;
}

.section_functionalities_img {
  height: 316px;
  width: 100%;
  max-width: 480px;
}

.section_functionalities_text {
  max-width: 460px;
  width: 100%;
  gap: 60px;
}

.section_functionalities_text_card {
  width: calc(50% - 30px);
}
.section_functionalities_text_card h3 {
  margin-bottom: 14px;
  width: 90%;
}
.section_functionalities_text_card p {
  margin: 0;
  width: 100%;
}

/*==================== SECTION 8 TOOL ====================*/
.section_tool_img {
  height: 317px;
}

.section_tool2 .section_container {
  display: flex;
  gap: 60px;
  max-width: 800px;
}
.section_tool2 h2 {
  max-width: 320px;
  margin-bottom: 60px;
}
.section_tool2 p {
  max-width: 340px;
}

.section_tool2_img {
  background: #F5F5F5;
  height: 228px;
  width: 100%;
  max-width: 400px;
}

/*==================== STEP 3 ====================*/
/*==================== SECTION RELATED CONTENT ====================*/
.section_related_content {
  padding: 130px 30px;
}

.section_related_content_card {
  padding: 50px 80px 50px 50px;
  width: 420px;
  height: 400px;
}

/*==================== SECTION LOGOS ====================*/
.section_logos {
  padding: 130px 0px;
}
.section_logos h2 {
  padding: 0px 20px;
}

.section_logos_container {
  overflow-x: hidden;
  max-width: 1140px;
  margin: auto;
  position: relative;
}
.section_logos_container .section_logos_container_blur_left,
.section_logos_container .section_logos_container_blur_right {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 150px;
  z-index: 10;
}
.section_logos_container .section_logos_container_blur_left {
  left: 0;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 87.11%);
}
.section_logos_container .section_logos_container_blur_right {
  right: 0;
  background: linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 87.11%);
}
.section_logos_container img {
  width: 150px;
}
.section_logos_container .section_logos_scrollx {
  animation-name: defilement;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes defilement {
  0% {
    transform: translateX(100%);
    /* position initiale à droite */
  }
  100% {
    transform: translateX(-100%);
    /* position finale à gauche */
  }
}
/*==================== SECTION TESTIMONY ====================*/
.section_testimony {
  padding: 110px 0px 150px 0px;
}

.section_testimony_interactions {
  padding: 0px 150px;
}

.section_testimony_interactions_buttons img {
  width: 12.5px;
}
.section_testimony_interactions_buttons button {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease;
}
.section_testimony_interactions_buttons #section_testimony_interactions_button_next:hover {
  transform: scale(1.2);
  border-color: #000000;
}
.section_testimony_interactions_buttons #section_testimony_interactions_button_previous {
  transform: rotate(180deg);
}
.section_testimony_interactions_buttons #section_testimony_interactions_button_previous:hover {
  transform: rotate(180deg) scale(1.2);
  border-color: #000000;
}

.section_testimony_cards_container {
  padding-left: 150px;
  overflow-x: hidden;
}

.section_testimony_card {
  padding: 35px 25px 25px 25px;
  width: 300px;
  height: 370px;
  flex-shrink: 0;
  opacity: 1;
  transition: transform 500ms ease 0s;
}

.section_testimony_card_content span {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
}
.section_testimony_card_content span image {
  display: block;
  width: 100%;
}

/*==================== CONTACT ====================*/
.section_contact {
  position: relative;
  overflow: hidden;
}

.section_contact_background_image_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section_contact_background_image_container img {
  max-width: 1440px;
  width: 100%;
}

.section_contact_form {
  display: flex;
  flex-direction: row;
  max-width: 1250px;
  margin: auto;
}

.section_contact_form_input_container {
  margin: 100px 50px 95px 110px;
}

.section_contact_form_input {
  width: 100%;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}
.section_contact_form_input .w_100 {
  width: 100%;
}

.section_contact_form_input_card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: calc(50% - 15px);
  position: relative;
}
.section_contact_form_input_card select,
.section_contact_form_input_card input {
  border: 1px solid #D3D4D8;
  border-radius: 4px;
  height: 24px;
  background: #FFFFFF;
  padding: 10px;
}
.section_contact_form_input_card span {
  display: none;
  position: absolute;
  bottom: -39px;
  color: #210303;
  background: #FFD5D7;
  border-radius: 4px;
  width: 100%;
  height: 36px;
}
.section_contact_form_input_card span img {
  width: 20px;
  margin: 0 9px 0 7px;
}
.section_contact_form_input_card input:invalid {
  border: 1px solid #F7A0A5;
}
.section_contact_form_input_card input:invalid ~ span {
  display: flex;
}

option {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #505565;
}

textarea {
  border: 1px solid #D3D4D8;
  border-radius: 4px;
  height: 180px;
  padding: 10px;
}

.section_contact_form_input_card_checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #505565;
}

.section_contact_form_input_container button {
  height: 70px;
  width: 150px;
  border: none;
  background: #000000;
  color: #FFFFFF;
  border-radius: 4px;
  margin-top: 50px;
}

.section_contact_form_infos_container {
  margin: 90px 90px 0 0;
}

.section_contact_form_infos {
  padding: 40px 30px;
  background: #F0F0F0;
  width: 260px;
  color: #000000;
}
.section_contact_form_infos h3 {
  margin-bottom: 40px;
}

/*==================== MEDIA QUERIES 576px ====================*/
@media only screen and (max-width: 576px) {
  section {
    padding: 50px 20px;
  }
  .p_small_under_576 {
    font-size: 15px;
    line-height: 24px;
  }
  .text_left_under_576 {
    text-align: left;
  }
  .section_functionalities_container {
    justify-content: start;
  }
  .section_functionalities_text_card {
    width: 100%;
  }
  .footer_contact {
    background: #000000;
    padding: 68px 20px 81px 20px;
  }
  .footer_contact a {
    background: #FFFFFF;
    color: #000000;
  }
  .contact_white {
    display: none;
  }
  .contact_dark {
    display: inline-block;
  }
  .section_contact h1 {
    margin: 38px 0 47px 0px;
  }
  .section_contact_form_input_container {
    margin: 65px 20px 90px 20px !important;
  }
  .section_contact_form_infos_container {
    margin: 0 !important;
  }
  .section_contact_form_input_card {
    width: 100%;
  }
  .section_contact_form_infos {
    width: calc(100% - 60px);
  }
}
/*==================== MEDIA QUERIES 768px ====================*/
@media only screen and (max-width: 768px) {
  .flex_column_under_768 {
    flex-direction: column;
  }
  .flex_column_reverse_under_768 {
    flex-direction: column-reverse;
  }
  .gap_10_under_768 {
    gap: 10px;
  }
  .gap_60_under_768 {
    gap: 60px;
  }
  .text_left_under_768 {
    text-align: left;
  }
  .mb_70_under_768 {
    margin-bottom: 70px;
  }
  .section_numbers_card {
    width: 100%;
  }
  .section_community_h2 {
    margin-top: 48px;
    margin-bottom: 29px;
  }
  .section_community_cards_container {
    justify-content: start;
    gap: 31px;
  }
  .section_newsletter_input {
    gap: 26px;
  }
  .section_newsletter_input button {
    max-width: 360px;
  }
  .section_newsletter_input input {
    max-width: 342px;
  }
  .section_contact_form {
    flex-direction: column-reverse;
  }
  .section_contact_form_input_container {
    margin: 100px 100px 95px 110px;
  }
  .section_contact_form_infos_container {
    margin: 90px 90px 0 110px;
  }
  .section_testimony {
    padding: 70px 0px 90px 0px;
  }
  .section_testimony_interactions {
    padding: 0px 20px;
  }
  .section_testimony_cards_container {
    padding: 0px 20px;
  }
}
/*==================== MEDIA QUERIES 992px ====================*/
@media only screen and (max-width: 992px) {
  .section_tool1 .section_container,
.section_tool2 .section_container {
    flex-direction: column-reverse;
  }
  .footer_links {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .footer_links_container {
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
  }
  .footer_links_separator {
    display: none;
  }
  .footer_links_social {
    width: 100%;
  }
}
/*==================== MEDIA QUERIES 1200px ====================*/
@media only screen and (max-width: 1200px) {
  .flex_between_under_1200 {
    justify-content: space-between;
  }
  .flex_wrap_under_1200 {
    flex-wrap: wrap;
  }
  .section_community_card {
    width: 100% !important;
  }
  .dnone_under_1200 {
    display: none;
  }
  .dblock_under_1200 {
    display: block;
  }
  nav {
    padding: 0 20px;
    width: calc(100% - 40px);
  }
  nav,
.navlinks {
    z-index: 11;
  }
  .nav_links {
    position: fixed;
    width: calc(100% - 40px);
    top: 110px;
    flex-direction: column;
    align-items: start;
  }
  .nav_links button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav_links img {
    transform: rotate(-90deg);
    transition: transform 0s ease-out;
    margin-left: 0px;
  }
  .nav_links button:last-of-type {
    position: fixed;
    z-index: 11;
    bottom: 0;
    margin-left: -20px;
    padding: 15px;
    width: calc(100% - 30px) !important;
    border-top: 0.5px solid #ABA8B7;
  }
  .nav_links button:last-of-type a {
    padding: 18px 0px;
    background: #F1F1F1;
    width: 100%;
    display: block;
  }
  .dropdown_menu {
    display: block;
    top: 140px;
    width: calc(100% - 40px);
    height: calc(100% - 275px);
    min-height: 0;
    padding: 40px 20px 15px 20px;
    border-bottom: none;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-between;
    transform: translateX(100%);
  }
  .dropdown_menu,
.dropdown_menu_container_left,
.dropdown_submenu,
.dropdown_menu_container_right {
    flex-direction: column;
  }
  .dropdown_menu_container_left {
    width: 100%;
  }
  .dropdown_submenu {
    width: 100%;
  }
  .dropdown_menu_container_right {
    width: 100%;
  }
  .section_testimony_interactions_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
/*==================== MEDIA QUERIES 1440px ====================*/
@media only screen and (min-width: 1440px) {
  .section_testimony_cards_container {
    padding-left: calc(50% - 570px);
  }
}/*# sourceMappingURL=main.css.map */