/*

https://www.figma.com/file/kDnN37IrNFlhZAcRblIG1M/READLY-QUIZZ?type=design&node-id=0-1&t=ZsxtuymQvaYzjreq-0


https://readlyquizoftheyear2022.oathstudio.com/?locale=fr

https://docs.google.com/document/d/1DqM5v4MqOitffSw5Pop2DjT2ZOohupgTUqovJspLCfg/edit?pli=1


favicon à définir

titre de la page

balises metas


page 0 quelle action sur le bouton au hover, comment passe t'on d'une page à l'autre?



xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px



*/