/*=========================================== VARIABLES ===========================================*/
:root {
  --black: #000000;
  --white: #ffffff;
  --white_break: #F5F5F5;
  --grey: #f8f8f8;
  --grey_secondary: #999;
  --grey_border: #C0C0C0;
  --gold: #c49c5c;
  --gold_secondary: #AD874B;
  --gold_prod: #fffaf2;
  --gold_hover: #dbbc86;
  --primary_black: #404040;
  --secondary_black: #17213a;
  --warning: #95001B;
}

/*=========================================== BACKGROUND & COLORS ===========================================*/

.background_black {
  background-color: var(--black);
}

.color_black {
  color: var(--black);
}

.background_white {
  background-color: var(--white);
}

.color_white {
  color: var(--white);
}

.background_grey {
  background-color: var(--grey);
}

.color_grey {
  color: var(--grey);
}

.background_grey_secondary {
  background-color: var(--grey_secondary);
}

.color_grey_secondary {
  color: var(--grey_secondary);
}


.background_gold {
  background-color: var(--gold);
}

.color_gold {
  color: var(--gold);
}

.background_gold_secondary {
  background-color: var(--gold_secondary);
}

.color_gold_secondary {
  color: var(--gold_secondary);
}

.background_gold_prod {
  background-color: var(--gold_prod);
}

.color_gold_prod {
  color: var(--gold_prod);
}

.background_primary_black {
  background-color: var(--primary_black);
}

.color_primary_black {
  color: var(--primary_black);
}

.background_secondary_black {
  background-color: var(--secondary_black);
}

.color_secondary_black {
  color: var(--secondary_black);
}

.background_warning {
  background-color: var(--warning);
}

.color_warning {
  color: var(--warning);
}

.grey_border {
  border-color: var(--grey_border);
  border-style: solid;
  border-width: 1px;
}

.warning_border {
  border-color: var(--warning);
  border-style: solid;
  border-width: 1px;
}





/*=========================================== FONTS ===========================================*/
@font-face {
  font-family: 'Futuraltbook';
  src: url('https://img.edenly.com/fonts/futura_lt_book.eof');
  src: url('https://img.edenly.com/fonts/futura_lt_book.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/futura_lt_book.woff') format('woff'), url('https://img.edenly.com/fonts/futura_lt_book.ttf') format('truetype'), url('https://img.edenly.com/fonts/futura_lt_book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* CRITICAL */
@font-face {
  font-family: 'Futuraltbold';
  src: url('https://img.edenly.com/fonts/futuralt-bold.eof');
  src: url('https://img.edenly.com/fonts/futuralt-bold.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/futuralt-bold.woff') format('woff'), url('https://img.edenly.com/fonts/futuralt-bold.ttf') format('truetype'), url('https://img.edenly.com/fonts/futuralt-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* CRITICAL */
@font-face {
  font-family: 'Cardo';
  src: url('https://img.edenly.com/fonts/cardo-regular.eof');
  src: url('https://img.edenly.com/fonts/cardo-regular.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/cardo-regular.woff') format('woff'), url('https://img.edenly.com/fonts/cardo-regular.ttf') format('truetype'), url('https://img.edenly.com/fonts/cardo-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* CRITICAL */
@font-face {
  font-family: 'Cardoitalic';
  src: url('https://img.edenly.com/fonts/cardo-italic.eof');
  src: url('https://img.edenly.com/fonts/cardo-italic.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/cardo-italic.woff') format('woff'), url('https://img.edenly.com/fonts/cardo-italic.ttf') format('truetype'), url('https://img.edenly.com/fonts/cardo-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* CRITICAL */
@font-face {
  font-family: 'Cardobold';
  src: url('https://img.edenly.com/fonts/cardo-bold.eof');
  src: url('https://img.edenly.com/fonts/cardo-bold.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/cardo-bold.woff') format('woff'), url('https://img.edenly.com/fonts/cardo-bold.ttf') format('truetype'), url('https://img.edenly.com/fonts/cardo-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* CRITICAL */
@font-face {
  font-family: 'learning';
  src: url('https://img.edenly.com/fonts/learning-curve-pro.eof');
  src: url('https://img.edenly.com/fonts/learning-curve-pro.eot?#iefix') format('embedded-opentype'), url('https://img.edenly.com/fonts/learning-curve-pro.woff') format('woff'), url('https://img.edenly.com/fonts/learning-curve-pro.ttf') format('truetype'), url('https://img.edenly.com/fonts/learning-curve-pro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


:root {
  font-family: 'Futuraltbook', 'Open Sans', sans-serif, Tahoma;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: var(--white);
  background-color: var(--grey);
}

.family_futuraltbook {
  font-family: 'Futuraltbook', 'Open Sans', sans-serif, Tahoma;
}

.family_futuraltbold {
  font-family: 'Futuraltbold', 'Open Sans', sans-serif, Tahoma;
}


.family_cardo {
  font-family: 'Cardo', 'Times New Roman';
}

.family_cardo_italic {
  font-family: 'Cardoitalic', 'Times New Roman';
}

.family_cardo_bold {
  font-family: 'Cardobold', 'Times New Roman';
}


/*=========================================== CLASSES UTILITAIRES PROJET ===========================================*/
section {
  overflow: hidden;
}

.overflow_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper_1020 {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper_1000 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 2% 10px 2%;
  box-sizing: content-box;
}

.wrapper_800 {
  max-width: 800px;
  margin: 40px auto 10px auto;
  padding: 0 2%;
  box-sizing: content-box;
}



@media only screen and (max-width: 600px) {
  .wrapper_1000 {
    padding: 40px 0 20px 0;
  }
}



.button_classic {
  padding: 10px 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.button_gold {
  background-color: var(--gold);
  color: var(--white);
}

.button_gold_hover {
  background-color: var(--white);
  color: var(--gold_hover);
  border: 1px solid var(--gold_hover);
}

.button_gold_hover:hover {
  background-color: var(--gold_hover);
  color: var(--white);
}


.h2_underline {
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.15em;
  position: relative;
}

.h2_underline>span {
  background-color: var(--grey);
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

.h2_underline::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: var(--grey_border);
}

@media only screen and (max-width: 479px) {
  .h2_underline::after {
    top: unset;
    bottom: 0;
  }
}

.slider_button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  border: 0.5px solid var(--grey_border);
  display: none;
}

.slider_button.active {
  display: inline-block;
}

.slider_button::after {
  content: "";
  display: block;
  margin: auto;
  width: 12px;
  height: 12px;
  border-top: 1px solid var(--secondary_black);
  border-right: 1px solid var(--secondary_black);
  transform: rotate(45deg);
}

.slider_button.left::after {
  transform: rotate(-135deg);
}

.slider_button:hover {
  background-color: var(--gold);
  border-color: var(--gold);
}

.slider_button:hover::after {
  border-color: var(--white);
}



/*=========================================== ICONES ===========================================*/

.sprites {
  background: url('https://www.edenly.com/img/sprites24.png') no-repeat;
}

.etoile-fav,
.etoile-infav {
  width: 26px;
  height: 22px;
  background-position: -396px -2px !important;
  display: inline-block;
}

.etoile-fav:hover {
  background-position: -396px -23px !important;
}

/*=========================================== section_hero ===========================================*/
.section_hero picture.section_hero_background_image,
.section_hero picture.section_hero_background_image>img {
  max-width: 100%;
}

.section_hero>div>a {
  position: relative;
}

.section_hero_logo {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_hero_logo>img {
  width: 143px;
  height: 65px;
}

.section_hero_cta {
  position: absolute;
  bottom: 26%;
  left: 6%;
  width: 50%;
}

.section_hero_cta>p {
  letter-spacing: 0.15em;
}

.section_hero_cta>img {
  margin-top: 10px;
}

.section_hero_cta>button {
  margin-top: 45px;
}


@media only screen and (max-width: 1024px) {
  .section_hero_cta {
    position: absolute;
    bottom: 10%;
    left: 6%;
  }
}

@media only screen and (max-width: 479px) {
  .section_hero_logo>img {
    width: 115px;
    height: 52px;
  }

  .section_hero_cta {
    position: absolute;
    bottom: 33%;
    left: 10%;
    width: 80%;
    text-align: center;
    width: 80%;
  }

  .section_hero_cta>button {
    margin-top: 30px;
  }
}


/*=========================================== section_selection ===========================================*/

.section_selection_cards {
  display: flex;
  column-gap: 10px;
  row-gap: 20px;
  margin-top: 25px;
}

.section_selection_card {
  flex: 1;
}

.section_selection_card>img {
  width: 100%;
}

.section_selection_card>div {
  position: relative;
  margin: -60px auto 0;
  width: 70%;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(24, 32, 35, .2);
}

.section_selection_card>div>h3 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

.section_selection_card:hover>div>button {
  background-color: var(--gold_hover);
  color: var(--white);
}


@media only screen and (max-width: 600px) {
  .section_selection_card>div>h3 {
    font-size: 13px;
  }
}


@media only screen and (max-width: 479px) {
  .section_selection_cards {
    flex-direction: column;
  }
}


/*=========================================== section_essential ===========================================*/

.section_essential_slider_container {
  position: relative;
}

.section_essential_slider_container>.slider_button {
  bottom: 55%;
}

.section_essential_slider_container>.slider_button.left {
  left: -20px;
}

.section_essential_slider_container>.slider_button.right {
  right: -20px;
}


@media only screen and (max-width: 1024px) {
  .section_essential_slider_container>.slider_button.left {
    left: -4px;
  }

  .section_essential_slider_container>.slider_button.right {
    right: -4px;
  }
}


.section_essential_slider {
  display: flex;
  column-gap: 20px;
  overflow: hidden;
  margin-top: 40px;
}


.section_essential_slide {
  width: 235px;
  flex: none;
}


.section_essential_slide>div>img {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.section_essential_slide>h3 {
  line-height: 23px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_essential_slide>h3>i {
  padding: 10px;
}

.section_essential_slide>h4 {
  line-height: 14px;
  letter-spacing: 0.08em;
}

.section_essential_slide>p {
  line-height: 26px;
  margin-top: 7px;
}

.section_essential_slide>p>span {
  display: inline-block;
  line-height: 20px;
  margin-left: 7px;
  padding: 2px 3px;
  border-radius: 3px;
}


@media only screen and (max-width: 600px) {
  .section_essential_slide {
    width: 210px;
  }

  .section_essential_slide>div>img {
    width: 120px;
    height: 120px;
  }
}


/*=========================================== section_collection ===========================================*/
.section_collection_slider_container {
  position: relative;
}

.section_collection_slider_container>.slider_button {
  top: 40%;
}

.section_collection_slider_container>.slider_button.left {
  left: 5px;
}

.section_collection_slider_container>.slider_button.right {
  right: 5px;
}

.section_collection_slider {
  display: flex;
  margin: 25px auto 0 auto;
  overflow: hidden;
}

.section_collection_slide {
  width: 33.33%;
  padding: 0 5px;
  flex: none;
}

.section_collection_slide>img {
  width: 100%;
}

.section_collection_slide>h3 {
  margin-top: 24px;
}

.section_collection_slide>h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: var(--secondary_black);
  margin: 5px auto 0 auto;
  visibility: hidden;
}

.section_collection_slide:hover>h3::after {
  visibility: visible;
}



@media only screen and (max-width: 600px) {
  .section_collection_slider {
    margin: 25px 42px 0px 42px;
  }

  .section_collection_slide {
    width: 100%;
    padding: 0 3%;
  }
}


/*=========================================== section_edito ===========================================*/
.section_edito>div {
  padding: 75px 2% 60px 2%;
}


.section_edito>div>a:first-of-type>h2 {
  line-height: 55px;
}

.section_edito>div>a:first-of-type>h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--gold);
  margin: auto;
}

.section_edito>div>a:first-of-type>p {
  padding: 10px 0 25px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.section_edito>div>p:first-of-type {
  line-height: 20px;
  padding: 10px 0px 30px 0px;
}


.section_edito>div>a:last-of-type {
  margin: 30px auto 0 auto;
  line-height: 22px;
  display: inline-block;
}

.section_edito>div>a:last-of-type::after {
  content: ">";
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey_border);
  font-family: 'Cardoitalic';
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.section_edito>div>a:last-of-type:hover {
  color: var(--gold);
}

.section_edito>div>a:last-of-type:hover::after {
  background-color: var(--gold);
  color: var(--white);
  border-color: var(--gold);
}




@media only screen and (max-width: 600px) {
  .section_edito>div {
    padding: 55px 15px 50px 15px;
  }
}


/*=========================================== section_numbers ===========================================*/
.section_numbers {
  display: block;
}

.section_numbers>div {
  padding: 70px 2%;
  display: flex;
  flex-wrap: wrap;
}

.section_numbers>div>div {
  width: 33.33%;
  padding: 30px 3%;
}

.section_numbers>div>div::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 1px;
  background-color: var(--gold);
}

.section_numbers>div>div>h3 {
  line-height: 35px;
  letter-spacing: 0.2em;
}

.section_numbers>div>div>p {
  line-height: 19px;
  letter-spacing: 0.2em;
  padding: 13px 0 20px 0;
}




@media only screen and (max-width: 600px) {
  .section_numbers>div {
    padding: 30px 2%;
  }

  .section_numbers>div>div {
    width: 50%;
    padding: 30px 2%;
  }

  .section_numbers>div>div>h3 {
    font-size: 16px;
    line-height: 20px;
    width: min-content;
    margin: 0 auto;
  }
}



/*=========================================== section_thisweek ===========================================*/

.section_thisweek>div {
  padding: 40px 2%;
}

.section_thisweek_container {
  padding: 25px 0px;
  margin: 0 auto;
  border: solid 1px var(--gold_hover);
}

.section_thisweek_container>h2 {
  letter-spacing: 0.134em;
}

.section_thisweek_cards {
  padding: 25px 0 30px 0;
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  row-gap: 20px;
}

.section_thisweek_card {
  width: 23%;
  margin: 0 1%;
  position: relative;
}

.section_thisweek_card>i {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 15px;
}

.section_thisweek_card>img {
  width: 100%;
}


.section_thisweek_card>p {
  line-height: 26px;
  margin: 10px;
}

.section_thisweek_card>p>span {
  display: inline-block;
  line-height: 20px;
  margin-left: 7px;
  padding: 2px 3px;
  border-radius: 3px;
}

.section_thisweek_container>p:first-of-type {
  margin-bottom: 3px;
}

.section_thisweek_container>form {
  width: 100%;
  max-width: 430px;
  margin: 15px auto 11px auto;
}

.section_thisweek_container>form>p>input[type=text] {
  height: 34px;
  line-height: 20px;
  padding: 7px 1% 7px;
  width: 65%;
  border: 1px solid var(--warning);
}

.section_thisweek_container>form>p>input[type=submit] {
  border: 1px solid var(--gold_hover);
  color: var(--black);
  font-size: 13px;
  background-color: var(--gold_hover);
  padding: 2px 10px;
  cursor: pointer;
  font-weight: normal;
  height: 36px;
  margin-top: 0;
  margin-left: 2%;
  text-transform: uppercase;
  border-radius: 5px;
}

.section_thisweek_container>form>p>input[type=submit]:hover {
  color: var(--white);
}




@media screen and (max-width: 600px) {
  .section_thisweek>div {
    padding: 40px 2%;
  }

  .section_thisweek_cards {
    max-width: 400px;
    flex-wrap: wrap;
  }

  .section_thisweek_card {
    width: calc(50% - 1px);
    margin: 0;
  }

  .section_thisweek_container>form>p>input[type=text],
  .section_thisweek_container>form>p>input[type=submit] {
    width: 100%;
  }

  .section_thisweek_container>form>p>input[type=submit] {
    margin-top: 5px;
    margin-left: 0;
  }
}


/*=========================================== section_jewelry ===========================================*/

.section_jewelry>picture,
.section_jewelry>picture>img {
  width: 100%;
}

.section_jewelry {
  position: relative;
}

.section_jewelry_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_jewelry_content>img {
  width: 224px;
}

.section_jewelry_content>p {
  max-width: 500px;
}


.section_jewelry_content>p:first-of-type {
  text-shadow: 0 0 34px rgba(0, 0, 0, .65);
  padding: 25px 0;
}

.section_jewelry_content>p:last-of-type {
  letter-spacing: 0.04em;
}

/*=========================================== section_presentation ===========================================*/

.section_presentation_slider_container {
  position: relative;
}

.section_presentation_slider_container>.slider_button {
  bottom: 25%;
}

.section_presentation_slider_container>.slider_button.left {
  left: 10%;
}

.section_presentation_slider_container>.slider_button.right {
  right: 10%;
}

.section_presentation_slider {
  display: flex;
  overflow: hidden;
  column-gap: 15px;
}

.section_presentation_slide {
  width: 385px;
  min-height: 600px;
  flex: none;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section_presentation_slide>div:first-of-type {
  max-width: 250px;
}

.section_presentation_slide>div:first-of-type>h3 {
  line-height: 24px;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
}

.section_presentation_slide>div:first-of-type>p {
  line-height: 19px;
}

.section_presentation_slide>div:first-of-type>p::after {
  content: "";
  display: block;
  margin: 10px auto 5px auto;
  width: 160px;
  height: 1px;
  background-color: var(--grey_border);
}

.section_presentation_slide>div:first-of-type>p:last-of-type:after {
  visibility: hidden;
}

.section_presentation_slide>div:last-of-type>img {
  width: 100%;
}


.section_presentation_slide>div:last-of-type>p {
  line-height: 22px;
  margin: 0 auto 40px auto;
}

.section_presentation_slide>div:last-of-type>p::after {
  content: ">";
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey_border);
  font-family: 'Cardoitalic';
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.section_presentation_slide>div:last-of-type>p:hover {
  color: var(--gold);
}

.section_presentation_slide>div:last-of-type>p:hover::after {
  background-color: var(--gold);
  color: var(--white);
  border-color: var(--gold);
}


@media only screen and (max-width: 600px) {
  .section_presentation_slide {
    width: 245px;
    min-height: 480px;
  }
}

/*=========================================== section_guarantees ===========================================*/
.section_guarantees>div {
  padding: 70px 2% 60px 2%;
}

.section_guarantees>div>h2 {
  line-height: 60px;
  /* 50px + paddingtop 3px paddingbottom 7px */
}

.section_guarantees>div>h2::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 1px;
  background-color: var(--gold);
}

.section_guarantees>div>h3 {
  line-height: 20px;
  letter-spacing: 0.02em;
  padding-bottom: 50px;
}

.section_guarantees_cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
}

.section_guarantees_card {
  width: 25%;
  padding: 0 10px;
}

.section_guarantees_card>span {
  display: inline-block;
  height: 30px;
  width: 40px;
  background-size: 30px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.section_guarantees_card:nth-child(1)>span {
  background-image: url('https://img.edenly.com/ico-prix.svg');
}

.section_guarantees_card:nth-child(2)>span {
  background-image: url('https://img.edenly.com/ico-calendrier60.svg');
}

.section_guarantees_card:nth-child(3)>span {
  background-image: url('https://img.edenly.com/ico-gbague.svg');
}

.section_guarantees_card:nth-child(4)>span {
  background-image: url('https://img.edenly.com/ico-gravure.svg');
}

.section_guarantees_card:nth-child(5)>span {
  background-image: url('https://img.edenly.com/ico-20.svg');
}

.section_guarantees_card:nth-child(6)>span {
  background-image: url('https://img.edenly.com/ico-certificat.svg');
}

.section_guarantees_card:nth-child(7)>span {
  background-image: url('https://img.edenly.com/ico-livraison.svg');
}

.section_guarantees_card:nth-child(8)>span {
  background-image: url('https://img.edenly.com/ico-2ans-fr.svg');
}

.section_guarantees_card>p {
  line-height: 19px;
  letter-spacing: 0.02em;
  padding-top: 10px;
}

.section_guarantees_card>p::after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 1px;
  background-color: var(--secondary_black);
  visibility: hidden;
  position: relative;
  bottom: -5px;
}

.section_guarantees_card:hover>p::after {
  visibility: visible;
}







@media only screen and (max-width: 600px) {
  .section_guarantees>div {
    padding: 70px 2% 60px 2%;
  }

  .section_guarantees_card {
    width: 50%;
  }
}



/*=========================================== section_advertising ===========================================*/
.section_advertising>div {
  padding: 55px 2% 80px 2%;
}


.section_advertising_slider_container {
  position: relative;
}

.section_advertising_slider_container>.slider_button {
  top: 35%;
}

.section_advertising_slider_container>.slider_button.left {
  left: 0;
}

.section_advertising_slider_container>.slider_button.right {
  right: 0;
}

.section_advertising_slider {
  display: flex;
  overflow: hidden;
  column-gap: 10px;
}

.section_advertising_slide {
  width: 140px;
  height: 205px;
  flex: none;
}

.section_advertising_slide>img {
  max-width: 100%;
  width: 140px;
  height: 160px;
}

.section_advertising_slide>h3 {
  margin-top: 10px;
  font-size: 12px;
}

.section_advertising_slide>h3::after {
  content: "";
  position: relative;
  top: 5px;
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 1px;
  background-color: var(--secondary_black);
  visibility: hidden;
}

.section_advertising_slide:hover>h3::after {
  visibility: visible;
}


@media only screen and (max-width: 600px) {
  .section_advertising>div {
    padding: 15px 0 80px 0;
  }
}