/*

Data Explorer: https://portal.geopostcodes.com/data-explorer/countries
Map Explorer: https://portal.geopostcodes.com/map-explorer
Download Center: https://portal.geopostcodes.com/download-center/1
Knowledge Center: https://support.geopostcodes.com/



MAIN cards
Ce sont les mêmes liens qu'au-dessus. Pointer vers la page courante. 
J'ai exporté plusieurs layers. Est-ce que les files on pj fonctionnent maintenant ?



https://www.figma.com/file/EN68w4BLhjx01XwFYGZlOX/GPC---Website-Design---Paul?node-id=117%3A50002&mode=dev





font-family récupérée depuis google fonts
https://fonts.google.com/specimen/Lexend?query=Lexend


header :  ouverture dans la page courant ou un nouvel onglet?




*/