<button data-popover-target="popover-no-arrow" type="button" data-popover-trigger="hover" class="label-l-bold underline ">popover</button>

<!--popover start-->
<div data-popover id="popover-no-arrow" role="tooltip" class="absolute flex gap-space-between-xl z-10 invisible inline-flex w-full md:w-[523px] p-component-lg body-m font-mono text-neutral-text-high transition-opacity duration-300 bg-neutral-surface-xlow border-radius-xs shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 [&_a]:!text-primary-text-md [&_a]:font-bold [&_a]:underline">
  <div class="">
    <p>${label}</p>
  </div>
</div>
<!--popover end-->

