/*================================ RESET CSS =======================================*/
/* 
ATTENTION ICI RESET CSS A SUPPRIMER SI IL EST DÉJÀ PRÉSENT DANS VOTRE PROJET

*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input,
select,
textarea {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
button {
  cursor: pointer;
}

a:focus,
a:active,
button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: none;
  outline-color: transparent !important;
}

ul {
  list-style-position: inside;
}

img {
  display: block;
}

/*================================ VARIABLES =======================================*/
:root {
  --black: #000000;
  --primary_black: #01192A;
  --white: #ffffff;
  --white_break: #F5F5F5;
  --secondary_beige: #FEFAF5;
  --secondary_beige_2: #FFFEFD;
  --secondary_border: #F3F0EC;
  --secondary_groupe: #F8EBD6;
  --dark_blue: #0B273A;
  --dark_beige: #DAB575;
}

/*================================ BACKGROUND & COLORS =======================================*/
/* 
Dans le cas de classes utilitaires html
*/


/*================================ FONTS =======================================*/
html {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: var(--black);
  background-color: var(--white);
  scroll-behavior: smooth;
}

/* BALISES HTML STANDARDS */

i,
mark {
  font-style: italic;
}

em {
  text-decoration: underline;
}

/* CLASSES UTILITAIRES FONTS */

.p_8_16 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 8px;
  line-height: 16px;
  font-weight: 400;
}


.p_10_16 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

.p_12_16 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.p_12_24 {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
}



.p_13_22 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.p_14_22 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.p_14_24 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.p_14_24_600 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.p_15_24_600 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
}

.p_15_24_700 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.p_15_28 {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
}

.p_17_28 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

.p_18_32 {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.h1_48_53 {
  font-family: 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 53px;
  font-weight: 400;
}

.h1_recrutement {
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
}

.h2_19_34 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
}

.h2_34_48 {
  font-family: 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
}

.h3_18_34 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
}

.h3_21_34 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 34px;
  font-weight: 700;
}

.h3_24_34 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

.h4_15_34 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 34px;
  font-weight: 600;
}

.h4_15_18 {
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
}



@media only screen and (max-width: 992px) {
  .p_14_24 {
    font-size: 12px;
    line-height: 24px;
  }

  .p_14_24_600 {
    font-size: 12px;
    line-height: 24px;
  }

  .p_15_24_600 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
  }

  .h1_48_53 {
    font-size: 36px;
    line-height: 40px;
  }

  .h2_19_34 {
    font-size: 16px;
    line-height: 22px;
  }

  .h2_34_48 {
    font-size: 30px;
    line-height: 40px;
  }

  .h3_21_34 {
    font-size: 16px;
    line-height: 22px;
  }

  .h3_18_34 {
    font-size: 16px;
    line-height: 34px;
  }
}


@media only screen and (max-width: 768px) {
  .h1_recrutement {
    font-size: 28px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .h1_48_53 {
    font-size: 32px;
    line-height: 36px;
  }


  .h2_34_48 {
    font-size: 26px;
    line-height: 34px;
  }

  .h3_24_34 {
    font-size: 22px;
    line-height: 32px;
  }
}

/*================================ FONT-WEIGHT =======================================*/
.fw_300 {
  font-weight: 300;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.fw_800 {
  font-weight: 800;
}

.fw_900 {
  font-weight: 900;
}

/*================================ CLASSES UTILITAIRES =======================================*/
/* wrapper_1184 = 2*24px de padding horizontal = 1136px de contenu = 2*560px + 16px de gap central */
.wrapper_1184 {
  max-width: 1184px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.text_justify {
  text-align: justify;
}

.text_uppercase {
  text-transform: uppercase;
}


.link_disabled {
  pointer-events: none;
  cursor: default;
}

.link_16_32 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 34px;
  border-radius: 25.5px;
}

.link_16_32:hover {
  transition: background-color 0.15s;
}


.arrow_hover_black::after {
  content: url('../sources/icones/arrow_right_black_15_11.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 0;
  opacity: 0;
  transform: translateY(2px);
  transition: all 0.15s;
}

.arrow_hover_black:hover::after {
  opacity: 1;
  transform: translate(10px, 2px);
  width: 15px;
}

.arrow_hover_white::after {
  content: url('../sources/icones/arrow_right_white_15_11.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 0;
  opacity: 0;
  transform: translateY(2px);
  transition: all 0.15s;
}

.arrow_hover_white:hover::after {
  opacity: 1;
  transform: translate(10px, 2px);
  width: 15px;
}

.tooltip_after::after {
  content: url('../sources/icones/tooltip_12_12_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-left: 3px;
  transform: translateY(2px);
}

.tooltip_trigger {
  position: relative;
  cursor: help;
  width: fit-content;
}

.tooltip_trigger::after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  top: 0;
  z-index: 99;
  transform: translateY(-100%);
  background-color: var(--black);
  color: var(--white);
  width: 200px;
  padding: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 5px;
}

.tooltip_trigger:hover::after {
  display: block;
}



.after_locker::after {
  content: url('../sources/icones/locker_12_16_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-left: 8px;
  transform: translateY(2px);
}


.underline_hover {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  width: fit-content;
}

.underline_hover::after {
  content: "";
  border-bottom: 1px solid;
  border-color: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 50%;
  transition: width .15s;
}

.underline_hover:hover::after {
  width: 100%;
}

.underline_hover>img {
  display: inline-block;
  width: 11px;
  margin-left: 16px;
  transition: transform .15s;
}

.underline_hover:hover>img {
  transform: rotate(-45deg);
}



/*================================ HOMEPAGE - HERO SECTION =======================================*/
.homepage_section_hero {
  height: 460px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}

.homepage_section_hero>.lines_container {
  position: absolute;
  top: -25%;
  left: 0%;
  height: 150%;
  display: flex;
  column-gap: 96px;
  transform: rotate(25deg);
}

.homepage_section_hero>.lines_container>span {
  background-color: #F2ECE5;
  height: 100%;
  width: 1px;
}

.homepage_section_hero>img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 49px;
}


.homepage_section_hero>.iframe_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* Ratio d'aspect 16:9 (360 / 640 = 0.5625) */
  z-index: -1;
}

.homepage_section_hero>.iframe_container>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.homepage_section_hero>.main_container {
  margin: 0 auto;
  padding: 104px 24px 24px 24px;
  text-align: center;
}

.homepage_section_hero>.main_container>h1 {
  color: var(--white);
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.40);
  margin-bottom: 32px;
}

.homepage_section_hero>.main_container>a {
  background-color: var(--secondary_groupe);
  color: var(--black);
}

.homepage_section_hero>.main_container>a:hover {
  background-color: var(--dark_beige);
}

@media only screen and (max-width: 1200px) {
  .homepage_section_hero>.lines_container {
    display: none;
  }
}




@media only screen and (max-width: 992px) {
  .homepage_section_hero {
    height: 337px;
  }

  .homepage_section_hero>img {
    width: 40px;
  }


  .homepage_section_hero>.main_container {
    padding-top: 72px;
  }
}

@media only screen and (max-width: 650px) {
  .homepage_section_hero>.iframe_container>iframe {
    min-width: 170%;
    min-height: 170%;
  }

}

@media only screen and (max-width: 576px) {
  .homepage_section_hero>img {
    width: 37px;
    top: 52px;
    right: 50%;
    transform: translateX(50%);
  }

  .homepage_section_hero>.main_container {
    padding-top: 96px;
  }

  .homepage_section_hero>.main_container>h1 {
    margin-bottom: 24px;
  }
}

/*================================ HOMEPAGE - SECTORS SECTION =======================================*/
.homepage_section_sectors {
  background-color: var(--white);
  color: var(--black);
}

.homepage_section_sectors>.main_container {
  padding: 8px 8px 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.homepage_section_sectors>.main_container>.card {
  color: var(--white);
  min-width: 163px;
  width: 350px;
  max-width: 350px;
  height: 350px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.homepage_section_sectors>.main_container>.card:hover {
  scale: 1.02;
}

.homepage_section_sectors>.main_container>:nth-child(1) {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.90) 7.50%, rgba(3, 4, 14, 0.77) 24.13%, rgba(3, 4, 14, 0.67) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector1.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(1):hover {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 17.53%, rgba(3, 4, 14, 0.64) 31.67%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector1.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(2) {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.90) 7.50%, rgba(3, 4, 14, 0.77) 24.13%, rgba(3, 4, 14, 0.67) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector2.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(2):hover {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 17.53%, rgba(3, 4, 14, 0.64) 31.67%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector2.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(3) {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.90) 7.50%, rgba(3, 4, 14, 0.77) 24.13%, rgba(3, 4, 14, 0.67) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector3.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(3):hover {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 17.53%, rgba(3, 4, 14, 0.64) 31.67%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector3.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(4) {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.90) 7.50%, rgba(3, 4, 14, 0.77) 24.13%, rgba(3, 4, 14, 0.67) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector4.jpg");
}

.homepage_section_sectors>.main_container>:nth-child(4):hover {
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 17.53%, rgba(3, 4, 14, 0.64) 31.67%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/sectors/sector4.jpg");
}



.homepage_section_sectors>.main_container>.card::after {
  content: url('../sources/icones/arrow_right_white_15_11.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  padding: 24px;
  border-radius: 100%;
  transition: all 0.15s;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.homepage_section_sectors>.main_container>.card:hover::after {
  content: url('../sources/icones/arrow_right_black_15_11.svg');
  background-color: rgba(255, 255, 255, 1);
  transform: rotate(-45deg);
}

.homepage_section_sectors>.main_container>.card>p>strong {
  text-transform: uppercase;
  font-weight: 600;
}

.homepage_section_sectors>.main_container>.card>p>span {
  font-weight: 800;
  margin-left: 16px;
}



.homepage_section_sectors>.sub_container {
  padding-top: 52px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.homepage_section_sectors>.sub_container>.card {
  position: relative;
  width: 350px;
  padding: 16px 16px 16px 56px;
  border-radius: 5px;
  border: 1px solid #EFE9E4;
}


.homepage_section_sectors>.sub_container>.card>p {
  font-size: 13px;
  line-height: 22px;
}

.homepage_section_sectors>.disclaimer_container {
  text-align: center;
  color: #C9C0B9;
}

@media only screen and (max-width: 992px) {
  .homepage_section_sectors>.main_container {
    flex-wrap: wrap;
  }

  .homepage_section_sectors>.main_container>.card {
    padding: 24px 16px;
    width: calc(50% - 4px);
    height: 280px;
  }

  .homepage_section_sectors>.sub_container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .homepage_section_sectors>.sub_container>.card {
    width: calc(50% - 4px);
    max-width: 350px;
  }


  .homepage_section_sectors>.sub_container>:nth-child(3) {
    width: 708px;
    max-width: none;
  }

  .homepage_section_sectors>.sub_container>.card {
    padding: 16px 16px 16px 32px;
  }
}


@media only screen and (max-width: 576px) {
  .homepage_section_sectors>.sub_container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .homepage_section_sectors>.main_container>.card {
    padding: 32px 8px;
  }


  .homepage_section_sectors>.sub_container>.card>p {
    font-size: 12px;
    line-height: 22px;
  }
}

/*================================ HOMEPAGE - INSTITUTIONNAL MANAGEMENT SECTION =======================================*/
.homepage_section_institutionnal {
  background-color: var(--secondary_beige);
  color: var(--black);
  padding-top: 72px;
  padding-bottom: 52px;
}

.homepage_section_institutionnal>.disclaimer_container {
  text-align: center;
  margin-top: 64px;
  color: #C9C0B9;
}



.homepage_section_institutionnal>.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 16px;
  row-gap: 56px;
}

.homepage_section_institutionnal>.wrapper>.main_container {
  width: 55%;
}

.homepage_section_institutionnal>.wrapper>.main_container>h2 {
  margin-bottom: 40px;
}

.homepage_section_institutionnal>.wrapper>.sub_container {
  width: 42%;
  max-width: 474px;
  border-radius: 5px;
  border: 1px solid #F2ECE5;
  padding: 32px 8px 32px 48px;
}

.homepage_section_institutionnal>.wrapper>.sub_container>p {
  font-size: 16px;
  line-height: 35px;
}

@media only screen and (max-width: 992px) {
  .homepage_section_institutionnal {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .homepage_section_institutionnal>.disclaimer_container {
    margin-top: 40px;
  }

  .homepage_section_institutionnal>.wrapper {
    flex-direction: column;
    align-items: center;
  }

  .homepage_section_institutionnal>.wrapper>.main_container,
  .homepage_section_institutionnal>.wrapper>.sub_container {
    width: 100%;
  }

  .homepage_section_institutionnal>.wrapper>.main_container>h2 {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .homepage_section_institutionnal>.wrapper {
    row-gap: 40px;
  }

  .homepage_section_institutionnal>.wrapper>.sub_container {
    padding: 24px 32px;
  }
}

/*================================ HOMEPAGE - OPPORTUNITIES SECTION =======================================*/
.homepage_section_opportunities {
  background-color: var(--white);
  color: var(--black)
}

.homepage_section_opportunities>.wrapper {
  padding-top: 72px;
  padding-bottom: 72px;
}

.homepage_section_opportunities>.wrapper>.sub_container {
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 24px;
}

.homepage_section_opportunities>.wrapper>.sub_container>h2,
.homepage_section_opportunities>.wrapper>.sub_container>div {
  width: 50%;
}

.homepage_section_opportunities>.wrapper>.sub_container>div> {
  text-align: justify;
}

.homepage_section_opportunities>.wrapper>.sub_container>div>a {
  margin-top: 32px;
  background-color: var(--primary_black);
  color: var(--white);
}

.homepage_section_opportunities>.wrapper>.sub_container>div>a:hover {
  background-color: var(--dark_blue);
}

.homepage_section_opportunities>.wrapper>.main_container {
  display: flex;
  column-gap: 8px;
}

.homepage_section_opportunities>.wrapper>.main_container>.card {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  flex: none;
}

.homepage_section_opportunities>.wrapper>.main_container>.card.active {
  flex: auto;
}


.homepage_section_opportunities>.wrapper>.main_container>.card>.background_container {
  width: 191px;
  height: 250px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.15s;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  flex: none;
  overflow: hidden;
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(1)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/homepage/opportunities/opportunities1.jpg"),
    lightgray -87px -6px / 176.44% 102.4% no-repeat;
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(1).active>.background_container {
  background-image: url("../sources/images/homepage/opportunities/opportunities1.jpg");
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(2)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/homepage/opportunities/opportunities2.jpg"),
    lightgray -87px -6px / 176.44% 102.4% no-repeat;
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(2).active>.background_container {
  background-image: url("../sources/images/homepage/opportunities/opportunities2.jpg");
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(3)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/homepage/opportunities/opportunities3.jpg"),
    lightgray -87px -6px / 176.44% 102.4% no-repeat;
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(3).active>.background_container {
  background-image: url("../sources/images/homepage/opportunities/opportunities3.jpg");
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(4)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/homepage/opportunities/opportunities4.jpg"),
    lightgray -87px -6px / 176.44% 102.4% no-repeat;
}

.homepage_section_opportunities>.wrapper>.main_container>:nth-child(4).active>.background_container {
  background-image: url("../sources/images/homepage/opportunities/opportunities4.jpg");
}

.homepage_section_opportunities>.wrapper>.main_container>.card.active>.background_container {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}


.homepage_section_opportunities>.wrapper>.main_container>.card>.background_container>h4 {
  color: var(--white);
}

.homepage_section_opportunities>.wrapper>.main_container>.card.active>.background_container>h4 {
  display: none;
}

.homepage_section_opportunities>.wrapper>.main_container>.card>.content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #F3F0EC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: auto;
  padding: 48px 48px 16px 48px;
}

.homepage_section_opportunities>.wrapper>.main_container>.card.active>.content {
  display: flex;
  animation: slidein 0.2s;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.homepage_section_opportunities>.wrapper>.main_container>.card>.content>div>p {
  margin: 8px 0px;
}

@media only screen and (max-width: 1200px) {
  .homepage_section_opportunities>.wrapper>.main_container>.card {
    flex-direction: column;
    width: calc(25% - 6px);
  }

  .homepage_section_opportunities>.wrapper>.main_container>.card>.background_container {
    width: 100%;
    height: 169px;
    border-radius: unset;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .homepage_section_opportunities>.wrapper>.main_container>.card>.content {
    display: flex;
    padding: 32px 16px 16px 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


@media only screen and (max-width: 992px) {
  .homepage_section_opportunities>.wrapper {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .homepage_section_opportunities>.wrapper>.sub_container {
    margin-bottom: 40px;
    flex-direction: column;
  }

  .homepage_section_opportunities>.wrapper>.sub_container>h2,
  .homepage_section_opportunities>.wrapper>.sub_container>div {
    width: 100%;
  }

  .homepage_section_opportunities>.wrapper>.sub_container>div {
    text-align: center;
  }

  .homepage_section_opportunities>.wrapper>.sub_container>div>p {
    text-align: justify;
  }

  .homepage_section_opportunities>.wrapper>.sub_container>div>a {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 768px) {
  .homepage_section_opportunities>.wrapper>.main_container {
    overflow-x: scroll;
  }

  /*  

  .homepage_section_opportunities>.wrapper>.main_container::-webkit-scrollbar {
    display:none;
  }
*/
  .homepage_section_opportunities>.wrapper>.main_container>.card {
    width: 240px;
  }
}

@media only screen and (max-width: 576px) {
  .homepage_section_opportunities>.wrapper {
    padding-top: 64px;
    padding-bottom: 56px;
  }

  .homepage_section_opportunities>.wrapper>.sub_container {
    margin-bottom: 56px;
  }

  .homepage_section_opportunities>.wrapper>.main_container>.card>.content {
    padding: 40px 24px 16px 24px;
  }
}

/*================================ HOMEPAGE - INVEST REAL ESTATE SECTION =======================================*/
.homepage_section_invest {
  background-color: var(--secondary_beige);
  color: var(--black);
  padding-top: 64px;
  border-top: solid 1px #F2ECE5;
  border-bottom: solid 1px #F2ECE5;
  overflow: hidden;
  position: relative;
}

.homepage_section_invest>.disclaimer_container {
  width: 100%;
  text-align: center;
  margin: 16px 0px;
}

.homepage_section_invest>.disclaimer_container>span {
  color: #C9C0B9;
  display: inline-block;
  width: 1432px;
  max-width: 100%;
  padding: 0px 96px;
  text-align: left;
}

.homepage_section_invest>.disclaimer_container.reverse>span {
  text-align: right;
}

.homepage_section_invest>.wrapper {
  max-width: 1432px;
  margin: 0 auto;
  display: flex;
}

.homepage_section_invest>.wrapper.reverse {
  flex-direction: row-reverse;
}

.homepage_section_invest>.wrapper>div {
  width: 50%;
}

.homepage_section_invest>.wrapper>.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 96px;
}



.homepage_section_invest>.wrapper>.sub_container>h2 {
  text-transform: uppercase;
  margin: 16px 0px 32px 0px;
}

.homepage_section_invest>.wrapper>.sub_container>p {
  text-align: justify;
}

.homepage_section_invest>.wrapper>.sub_container>div {
  width: 296px;
  max-width: 100%;
  margin: 52px 0px;
  padding: 16px 24px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #F2ECE5;
}

.homepage_section_invest>.wrapper>.sub_container>a {
  background-color: var(--primary_black);
  color: var(--white)
}

.homepage_section_invest>.wrapper>.sub_container>a:hover {
  background-color: var(--dark_blue);
}


.homepage_section_invest>.wrapper>.main_container {
  height: 620px;
  display: flex;
  overflow: hidden;
}

.homepage_section_invest>.wrapper>.main_container>.card {
  color: var(--white);
  width: 50%;
  height: 100%;
  padding: 16px 8px 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: auto auto;
  transition: all 0.3s;
}

.homepage_section_invest>.wrapper>.main_container.realestate>.card {
  margin-right: 8px;
}

.homepage_section_invest>.wrapper>.main_container.venturecapital>.card {
  margin-left: 8px;
}


.homepage_section_invest>.wrapper>.main_container.realestate>:nth-child(1) {
  background-position: left;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/realestate/realestate1.jpg");
}

.homepage_section_invest>.wrapper>.main_container.realestate>:nth-child(2) {
  background-position: right;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/realestate/realestate2.jpg");
}

.homepage_section_invest>.wrapper>.main_container.venturecapital>:nth-child(1) {
  background-position: left;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/venturecapital/venturecapital1.jpg");
}

.homepage_section_invest>.wrapper>.main_container.venturecapital>:nth-child(2) {
  background-position: right;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/venturecapital/venturecapital2.jpg");
}

.homepage_section_invest>.wrapper>.main_container>.card>.checkbox_container {
  position: relative;
}

.homepage_section_invest>.wrapper>.main_container>.card>.checkbox_container::after {
  position: absolute;
  top: -9px;
  right: 20px;
  content: url('../sources/icones/arrow_button_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-right: 6px;
  transform: translateY(1px);
  transition: transform 0.15s;
}

.homepage_section_invest>.wrapper>.main_container>.card>.checkbox_container>span {
  color: var(--white);
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2.5px);
  padding: 8px 16px;
}

.homepage_section_invest>.wrapper>.main_container>.card>.checkbox_container>span::before {
  content: url('../sources/icones/checkbox_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-right: 6px;
  transform: translateY(1px);
}

.homepage_section_invest>.wrapper>.main_container>.card>.content>.name {
  margin-bottom: 24px;
}

.homepage_section_invest>.wrapper>.main_container>.card>.content>.name>img {
  max-width: 100%;
}

.homepage_section_invest>.wrapper>.main_container>.card>.rising {
  display: none;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.homepage_section_invest>.wrapper>.main_container>.card>.rising>div {
  border-radius: 8px;
  border: 1px solid rgba(225, 225, 225, 0.15);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  padding: 8px 24px;
  margin-top: 16px;
  position: relative;
}

.homepage_section_invest>.wrapper>.main_container>.card>.rising>div>img {
  position: absolute;
  width: 51px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.rising_tooltip>div {
  width: 11px;
  position: absolute;
  top: 4px;
  right: 6px;
  cursor:help;
}

.rising_tooltip>div::after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  top: 0px;
  right: 2px;
  z-index: 99;
  transform: translateY(-100%);
  background-color: var(--black);
  color: var(--white);
  width: 200px;
  padding: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 5px;
}

.rising_tooltip>div:hover::after {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .homepage_section_invest>.disclaimer_container {
    margin: 52px 0px 40px 0px;
  }

  .homepage_section_invest>.disclaimer_container>span {
    padding: 0px 52px;
    text-align: center;
  }

  .homepage_section_invest>.disclaimer_container.reverse>span {
    text-align: center;
  }

  .homepage_section_invest>.wrapper>.sub_container {
    padding: 0px 52px;
  }

  .homepage_section_invest>.wrapper>.main_container {
    height: 418px;
  }
}

@media only screen and (max-width: 992px) {
  .homepage_section_invest>.wrapper>.sub_container>div {
    margin: 40px 0px;
  }
}



@media only screen and (max-width: 768px) {
  .homepage_section_invest>.disclaimer_container {
    margin: 32px 0px 40px 0px;
  }

  .homepage_section_invest>.disclaimer_container>span {
    padding: 0px 24px;
  }

  .homepage_section_invest>.wrapper {
    flex-direction: column;
  }

  .homepage_section_invest>.wrapper.reverse {
    flex-direction: column;
  }

  .homepage_section_invest>.wrapper>div {
    width: 100%;
  }

  .homepage_section_invest>.wrapper>.sub_container {
    padding: 0px 24px;
  }

  .homepage_section_invest>.wrapper>.sub_container>div,
  .homepage_section_invest>.wrapper>.sub_container>a {
    align-self: center;
  }

  .homepage_section_invest>.wrapper>.main_container {
    height: 315px;
  }

  .homepage_section_invest>.wrapper>.main_container {
    padding: 56px 4px 0px 4px;
  }

  .homepage_section_invest>.wrapper>.main_container.realestate>.card {
    margin: 0px 4px;
  }

  .homepage_section_invest>.wrapper>.main_container.venturecapital>.card {
    margin: 0px 4px;
  }
}

@media only screen and (max-width: 576px) {
  .homepage_section_invest>.wrapper>.main_container {
    flex-direction: column;
    height: auto;
    row-gap: 8px;
    padding: 56px 8px 0px 8px;
  }

  .homepage_section_invest>.wrapper>.main_container>.card {
    width: 100%;
    height: 315px;
    margin: 0 !important;
    padding: 16px;
  }

  .homepage_section_invest>.wrapper>.main_container>.card>.rising {
    display: block;
    bottom: 16px;
    right: 16px;
  }

  .homepage_section_invest>.wrapper>.main_container>.card>.checkbox_container::after {
    display: none;
  }
}


@media only screen and (min-width: 576px) {
  .homepage_section_invest>.wrapper>.main_container>.card:hover {
    width: 100%;
  }

  .homepage_section_invest>.wrapper>.main_container>.card:hover+.card{
    width: 0;
    padding: 0;
    margin: 0;
  }

  .homepage_section_invest>.wrapper>.main_container>.card:has(+ .card:hover) {
    width: 0;
    padding: 0;
    margin: 0;
  }

  .homepage_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container,
  .homepage_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container,
  .homepage_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.content,
  .homepage_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.content,
  .homepage_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container::after,
  .homepage_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container::after {
    display: none;
  }

  .homepage_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container::after,
  .homepage_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container::after {
    display: none;
  }

  .homepage_section_invest>.wrapper>.main_container>.card:hover>.rising {
    display: block;
  }

  .homepage_section_invest>.wrapper>.main_container>.card:hover>.checkbox_container::after {
    transform: rotate(+180deg);
  }
}






/*================================ HOMEPAGE - COMMUNITY SECTION =======================================*/
.homepage_section_community {
  background-color: var(--white);
  color: var(--black)
}

.homepage_section_community>.wrapper {
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  row-gap: 48px;
}

.homepage_section_community>.wrapper>.main_container {
  width: 42%;
}

.homepage_section_community>.wrapper>.main_container>h2 {
  margin-bottom: 32px;
}

.homepage_section_community>.wrapper>.main_container>.link_container {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  max-width: 324px;
}

.homepage_section_community>.wrapper>.main_container>.link_container>a {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.homepage_section_community>.wrapper>.main_container>.link_container>a>img {
  display: inline-block;
  width: 18px;
  margin-left: 8px;
}

.homepage_section_community>.wrapper>.main_container>.link_container>a>span {
  display: block;
  margin-top: 8px;
}


.homepage_section_community>.wrapper>.sub_container {
  background-color: var(--secondary_beige);
  border-radius: 8px;
  border: 1px solid #F2ECE5;
  width: 58%;
  max-width: 658px;
  padding: 40px 48px;
}

.homepage_section_community>.wrapper>.sub_container>p {
  margin-bottom: 32px;
}

.homepage_section_community>.wrapper>.sub_container>.review_container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.homepage_section_community>.wrapper>.sub_container>.review_container>img {
  width: 46px;
}

.homepage_section_community>.wrapper>.sub_container>.review_container>.separator {
  background-color: var(--black);
  width: 1px;
  height: 9px;
}


@media only screen and (max-width: 992px) {
  .homepage_section_community>.wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .homepage_section_community>.wrapper>.sub_container {
    padding: 32px 24px;
  }

  .homepage_section_community>.wrapper>.sub_container>p {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .homepage_section_community>.wrapper {
    flex-direction: column;
    align-items: center;
  }

  .homepage_section_community>.wrapper>.main_container,
  .homepage_section_community>.wrapper>.sub_container {
    width: 100%;
  }

  .homepage_section_community>.wrapper>.main_container>h2 {
    text-align: center;
  }

  .homepage_section_community>.wrapper>.main_container>.link_container {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .homepage_section_community>.wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
  }


}

/*================================ HOMEPAGE - EXPERTS SECTION =======================================*/
.homepage_section_experts {
  background-color: var(--primary_black);
  color: var(--white);
  display: flex;
}

.homepage_section_experts>.main_container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.homepage_section_experts>.main_container>.wrapper {
  padding: 24px 104px 24px 24px;
  max-width: 608px;
  /* 480px + 104px + 24px */
}

.homepage_section_experts>.main_container>.wrapper>p {
  margin: 32px 0px 40px 0px;
}


.homepage_section_experts>.sub_container {
  width: 50%;
  height: 550px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage_section_experts>.sub_container>img {
  object-fit: cover;
  /* rempli toute la boite en rognant les bords */
  min-height: 100%;
  min-width: 100%;
}

@media only screen and (max-width: 992px) {
  .homepage_section_experts {
    display: flex;
    flex-direction: column-reverse;
  }

  .homepage_section_experts>.main_container {
    width: 100%;
  }

  .homepage_section_experts>.main_container>.wrapper {
    padding: 48px 48px 72px 48px;
    max-width: none;
  }

  .homepage_section_experts>.main_container>.wrapper>p {
    margin: 24px 0px 40px 0px;
  }

  .homepage_section_experts>.sub_container {
    width: 100%;
    height: 223px;
  }
}


@media only screen and (max-width: 576px) {
  .homepage_section_experts>.main_container>.wrapper>p {
    margin: 24px 0px 40px 0px;
  }

  .homepage_section_experts>.main_container>.wrapper {
    padding: 48px 24px 64px 24px;
  }
}