/*================================ REAL ESTATE CROWDFUNDING - 1 HERO SECTION =======================================*/
.realestate_section_hero {
  height: 409px;
  position: relative;
  overflow: hidden;
  color: var(--black);
  text-align: center;
}

.realestate_section_hero>img {
  position: absolute;
  bottom: -55%;
  left: 0;
  object-fit: cover;
  width: 120%;
  min-height: 100%;
  z-index: -1;
}

.realestate_section_hero>.main_container {
  padding: 64px 24px;
}


.realestate_section_hero>.main_container>h1 {
  max-width: 750px;
  margin: 8px auto 48px auto;
}

@media only screen and (max-width: 992px) {
  .realestate_section_hero>img {
    bottom: 0%;
  }
}

@media only screen and (max-width: 576px) {
  .realestate_section_hero {
    height: 337px;
  }

  .realestate_section_hero>.main_container {
    padding: 56px 24px 40px 24px;
  }

  .realestate_section_hero>.main_container>h1 {
    margin: 8px auto 40px auto;
  }
}

/*================================ REAL ESTATE CROWDFUNDING - 2 NUMBERS SECTION =======================================*/
.realestate_section_number>.wrapper {
  padding-top: 48px;
  padding-bottom: 32px;
}

.realestate_section_number>.wrapper>.main_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 8px;
  max-width: 900px;
  margin: 0px auto 40px auto;
}

.realestate_section_number>.wrapper>.main_container>div {
  text-align: center;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.realestate_section_number>.wrapper>.main_container>div>p {
  border-radius: 3px;
  color: #8E837A;
  border: 0.5px solid #F2ECE5;
  min-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 576px) {
  .realestate_section_number>.wrapper {
    padding: 48px 8px;
  }

  .realestate_section_number>.wrapper>.main_container>div>p {
    font-size: 11px;
    line-height: 15px;
  }
}


/*================================ REAL ESTATE CROWDFUNDING - 3 CARDS SECTION =======================================*/

.realestate_section_definition>.wrapper {
  padding-top: 72px;
  padding-bottom: 64px;
}

.realestate_section_definition>.wrapper>.sub_container {
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  gap: 24px 32px;
}

.realestate_section_definition>.wrapper>.sub_container>h2,
.realestate_section_definition>.wrapper>.sub_container>div {
  width: 50%;
}

.realestate_section_definition>.wrapper>.main_container {
  display: flex;
  column-gap: 8px;
}

.realestate_section_definition>.wrapper>.main_container>.card {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  flex: none;
}

.realestate_section_definition>.wrapper>.main_container>.card.active {
  flex: auto;
}


.realestate_section_definition>.wrapper>.main_container>.card>.background_container {
  width: 191px;
  height: 250px;
  border-radius: 5px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: all 0.15s;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  flex: none;
  overflow: hidden;
}



.realestate_section_definition>.wrapper>.main_container>:nth-child(1)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/realestatecrowdfunding/cards/card1.jpeg"), lightgray -1.767px -18.233px / 101.851% 132.093%;
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(1).active>.background_container {
  background-image: url("../sources/images/realestatecrowdfunding/cards/card1.jpeg");
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(2)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/realestatecrowdfunding/cards/card2.jpeg"), lightgray -1.767px -18.233px / 101.851% 132.093%;
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(2).active>.background_container {
  background-image: url("../sources/images/realestatecrowdfunding/cards/card2.jpeg");
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(3)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/realestatecrowdfunding/cards/card3.jpeg"), lightgray -1.767px -18.233px / 101.851% 132.093%;
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(3).active>.background_container {
  background-image: url("../sources/images/realestatecrowdfunding/cards/card3.jpeg");
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(4)>.background_container {
  background: linear-gradient(360deg, rgba(3, 4, 14, 0.85) 0%, rgba(3, 4, 14, 0.00) 59.45%, rgba(3, 4, 14, 0.00) 90.63%),
    url("../sources/images/realestatecrowdfunding/cards/card4.jpeg"), lightgray -1.767px -18.233px / 101.851% 132.093%;
}

.realestate_section_definition>.wrapper>.main_container>:nth-child(4).active>.background_container {
  background-image: url("../sources/images/realestatecrowdfunding/cards/card4.jpeg");
}

.realestate_section_definition>.wrapper>.main_container>.card.active>.background_container {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}


.realestate_section_definition>.wrapper>.main_container>.card.active>.background_container>h4 {
  display: none;
}

.realestate_section_definition>.wrapper>.main_container>.card>.content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #F3F0EC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: auto;
  padding: 72px 48px 32px 48px;
}

.realestate_section_definition>.wrapper>.main_container>.card.active>.content {
  display: flex;
  animation: slidein 0.2s;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}



@media only screen and (max-width: 1200px) {
  .realestate_section_definition>.wrapper>.main_container>.card {
    flex-direction: column;
    width: calc(25% - 6px);
    height: 485px;
  }

  .realestate_section_definition>.wrapper>.main_container>.card>.background_container {
    width: 100%;
    height: 250px;
    border-radius: unset;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .realestate_section_definition>.wrapper>.main_container>.card>.background_container>h4 {
    display: none;
  }

  .realestate_section_definition>.wrapper>.main_container>.card>.content {
    display: flex;
    padding: 32px 16px 16px 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


@media only screen and (max-width: 992px) {
  .realestate_section_definition>.wrapper {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .realestate_section_definition>.wrapper>.sub_container {
    margin-bottom: 40px;
    flex-direction: column;
  }

  .realestate_section_definition>.wrapper>.sub_container>h2,
  .realestate_section_definition>.wrapper>.sub_container>div {
    width: 100%;
  }

  .realestate_section_definition>.wrapper>.sub_container>div {
    text-align: center;
  }

  .realestate_section_definition>.wrapper>.sub_container>div>a {
    margin-top: 56px;
  }

  .realestate_section_definition>.wrapper>.main_container {
    overflow-x: scroll;
  }

  .realestate_section_definition>.wrapper>.main_container>.card {
    width: 240px;
  }
}

@media only screen and (max-width: 576px) {
  .realestate_section_definition>.wrapper {
    padding-top: 64px;
    padding-bottom: 56px;
  }

  .realestate_section_definition>.wrapper>.sub_container {
    margin-bottom: 56px;
  }

  .realestate_section_definition>.wrapper>.main_container>.card>.content {
    padding: 40px 24px 16px 24px;
  }
}

/*================================ REAL ESTATE CROWDFUNDING - 4 VIDEO SECTION =======================================*/
.realestate_section_video>.wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  column-gap: 56px;
  row-gap: 40px;
}

.realestate_section_video>.wrapper>.sub_container {
  border-radius: 8px;
  width: calc(57% - 28px); /* Vous pouvez ajuster cette valeur si nécessaire */
  height: 0;
  padding-top: 30.7%;
  position: relative;
  overflow: hidden;
}

.realestate_section_video>.wrapper>.sub_container>iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.realestate_section_video>.wrapper>.main_container {
  width: calc(43% - 28px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
}

.realestate_section_video>.wrapper>.main_container>.card {
  padding: 24px;
  display: flex;
  align-items: center;
  min-height: 138px;
  border: 1px solid rgba(135, 156, 172, 0.25);
}

.realestate_section_video>.wrapper>.main_container>.card>span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 24px;
  flex: none;
}

.realestate_section_video>.wrapper>.main_container>:nth-child(1)>span>img {
  width: 19px;
}

.realestate_section_video>.wrapper>.main_container>:nth-child(2)>span>img {
  width: 15px;
}

.realestate_section_video>.wrapper>.main_container>:nth-child(3)>span>img {
  width: 23px;
}


@media only screen and (max-width: 768px) {
  .realestate_section_video>.wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
  }

  .realestate_section_video>.wrapper>.main_container {
    width: 100%;
  }


  .realestate_section_video>.wrapper>.sub_container{
    width: 100%;
    padding-top: 56.25%; /* 360 / 640 * 100 = 56.25 (ratio 16:9) */
  }

  
}

/*================================ REAL ESTATE CROWDFUNDING - 5 INVEST SECTION =======================================*/

.realestate_section_invest {
  padding-top: 64px;
  border-top: solid 1px #F2ECE5;
  border-bottom: solid 1px #F2ECE5;
}

.realestate_section_invest>.disclaimer_container {
  text-align: center;
}

.realestate_section_invest>.disclaimer_container>p {
  color: #C9C0B9;
  max-width: 1432px;
  margin: auto;
  padding: 32px 96px 48px 96px;
  text-align: left;
}

.realestate_section_invest>.wrapper {
  max-width: 1432px;
  margin: 0 auto;
  display: flex;
}


.realestate_section_invest>.wrapper>div {
  width: 50%;
}

.realestate_section_invest>.wrapper>.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 96px;
}



.realestate_section_invest>.wrapper>.sub_container>h2 {
  text-transform: uppercase;
  margin: 16px 0px 32px 0px;
}

.realestate_section_invest>.wrapper>.sub_container>p {
  padding-left: 20px;
  position: relative;
}

.realestate_section_invest>.wrapper>.sub_container>p::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 0;
  background-color: #F2ECE5;
}

.realestate_section_invest>.wrapper>.sub_container>div {
  width: 296px;
  max-width: 100%;
  margin: 52px 0px;
  padding: 16px 24px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #F2ECE5;
}

.realestate_section_invest>.wrapper>.main_container {
  height: 620px;
  display: flex;
  overflow: hidden;
}

.realestate_section_invest>.wrapper>.main_container>.card {
  color: var(--white);
  width: 50%;
  height: 100%;
  padding: 16px 8px 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: auto auto;
  transition: all 0.5s;
}

.realestate_section_invest>.wrapper>.main_container.realestate>.card {
  margin-right: 8px;
}

.realestate_section_invest>.wrapper>.main_container.venturecapital>.card {
  margin-left: 8px;
}


.realestate_section_invest>.wrapper>.main_container.realestate>:nth-child(1) {
  background-position: left;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/realestate/realestate1.jpg");
}

.realestate_section_invest>.wrapper>.main_container.realestate>:nth-child(2) {
  background-position: right;
  background-image: linear-gradient(to top, rgba(3, 4, 14, 0.85) 7.50%, rgba(3, 4, 14, 0.72) 24.13%, rgba(3, 4, 14, 0.64) 42.08%, rgba(3, 4, 14, 0.00) 70.98%),
    url("../sources/images/homepage/realestate/realestate2.jpg");
}


.realestate_section_invest>.wrapper>.main_container>.card>.checkbox_container {
  position: relative;
}

.realestate_section_invest>.wrapper>.main_container>.card>.checkbox_container::after {
  position: absolute;
  top: -9px;
  right: 20px;
  content: url('../sources/icones/arrow_button_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-right: 6px;
  transform: translateY(1px);
  transition: transform 0.15s;
}

.realestate_section_invest>.wrapper>.main_container>.card>.checkbox_container>span {
  color: var(--white);
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2.5px);
  padding: 8px 16px;
}

.realestate_section_invest>.wrapper>.main_container>.card>.checkbox_container>span::before {
  content: url('../sources/icones/checkbox_white.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 11px;
  margin-right: 6px;
  transform: translateY(1px);
}

.realestate_section_invest>.wrapper>.main_container>.card>.content>.name {
  margin-bottom: 24px;
}


.realestate_section_invest>.wrapper>.main_container>.card>.rising {
  display: none;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.realestate_section_invest>.wrapper>.main_container>.card>.rising>div {
  border-radius: 8px;
  border: 1px solid rgba(225, 225, 225, 0.15);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  padding: 8px 24px;
  margin-top: 16px;
  position: relative;
}


@media only screen and (max-width: 1200px) {
  .realestate_section_invest>.disclaimer_container>p {
    padding: 32px 52px;
  }


  .realestate_section_invest>.wrapper>.sub_container {
    padding: 0px 52px;
  }

  .realestate_section_invest>.wrapper>.main_container {
    height: 418px;
  }

  .realestate_section_definition>.wrapper>.main_container>.card.active {
    flex: none;
  }
}

@media only screen and (max-width: 992px) {
  .realestate_section_invest>.wrapper>.sub_container>div {
    margin: 40px 0px;
  }
}



@media only screen and (max-width: 768px) {
  .realestate_section_invest>.disclaimer_container>p {
    padding: 32px 24px;
    text-align: center;
  }

  .realestate_section_invest>.wrapper {
    flex-direction: column;
  }

  .realestate_section_invest>.wrapper.reverse {
    flex-direction: column;
  }

  .realestate_section_invest>.wrapper>div {
    width: 100%;
  }

  .realestate_section_invest>.wrapper>.sub_container {
    padding: 0px 24px;
  }

  .realestate_section_invest>.wrapper>.sub_container>div,
  .realestate_section_invest>.wrapper>.sub_container>a {
    align-self: center;
  }

  .realestate_section_invest>.wrapper>.main_container {
    height: 315px;
  }

  .realestate_section_invest>.wrapper>.main_container {
    padding: 56px 4px 0px 4px;
  }

  .realestate_section_invest>.wrapper>.main_container.realestate>.card {
    margin: 0px 4px;
  }

  .realestate_section_invest>.wrapper>.main_container.venturecapital>.card {
    margin: 0px 4px;
  }
}

@media only screen and (max-width: 576px) {
  .realestate_section_invest>.wrapper>.main_container {
    flex-direction: column;
    height: auto;
    row-gap: 8px;
    padding: 56px 8px 0px 8px;
  }

  .realestate_section_invest>.wrapper>.main_container>.card {
    width: 100%;
    height: 315px;
    margin: 0 !important;
    padding: 16px;
  }

  .realestate_section_invest>.wrapper>.main_container>.card>.rising {
    display: block;
    bottom: 16px;
    right: 16px;
  }

  .realestate_section_invest>.wrapper>.main_container>.card>.checkbox_container::after {
    display: none;
  }
}


@media only screen and (min-width: 576px) {
  .realestate_section_invest>.wrapper>.main_container>.card:hover {
    width: 100%;
  }

  .realestate_section_invest>.wrapper>.main_container>.card:hover+.card {
    width: 0;
    padding: 0;
    margin: 0;
  }


  .realestate_section_invest>.wrapper>.main_container>.card:has(+ .card:hover) {
    width: 0;
    padding: 0;
    margin: 0;
  }


  .realestate_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container,
  .realestate_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container,
  .realestate_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.content,
  .realestate_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.content,
  .realestate_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container::after,
  .realestate_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container::after {
    display: none;
  }

  .realestate_section_invest>.wrapper>.main_container>:nth-child(1):hover+.card>.checkbox_container::after,
  .realestate_section_invest>.wrapper>.main_container>.card:has(+ .card:hover)>.checkbox_container::after {
    display: none;
  }

  .realestate_section_invest>.wrapper>.main_container>.card:hover>.rising {
    display: block;
  }

  .realestate_section_invest>.wrapper>.main_container>.card:hover>.checkbox_container::after {
    transform: rotate(+180deg);
  }
}



/*================================ REAL ESTATE CROWDFUNDING - 6 GUIDE SECTION =======================================*/

/* Accordions */
.accordion_item {
  border-top: solid 1px rgba(68, 84, 94, 0.702);
}

.accordion_content {
  overflow: hidden;
  max-height: fit-content;
  transition: max-height 0.3s ease;
}

.accordion_title {
  padding: 16px 16px 32px 0px;
  position: relative;
  cursor: pointer;
}

.accordion_title::after {
  content: url("../sources/icones/arrow_black_to_top.svg");
  display: inline-block;
  width: 13px;
  position: absolute;
  right: 0;
  top: 16px;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.accordion_item.open>.accordion_title::after {
  transform: rotate(0);
}


/* WRAPPING GENERAL */
.realestate_section_guide {
  display: flex;
}

.realestate_section_guide>.pagination_container {
  width: 35%;
  flex: auto;
  color: var(--white);
}

.realestate_section_guide>.pagination_container>.wrapper {
  padding: 64px 24px;
  max-width: calc(384px + 2*64px);
  margin-left: auto;
  min-height: 100vh;
  /* Position sticky ici pour que ça "colle" top:0 à partir de son parent */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}

.realestate_section_guide>.pagination_container>.wrapper>div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-left: 16px;
  border-left: solid 2px #d9def930;
}


.realestate_section_guide>.pagination_container>.wrapper>div>a {
  position: relative;
}

.realestate_section_guide>.pagination_container>.wrapper>div>a:hover {
  font-weight: 600;
}

.realestate_section_guide>.pagination_container>.wrapper>div>a.active {
  color: #D8AE5E;
}

.realestate_section_guide>.pagination_container>.wrapper>div>a.active::before {
  content: '';
  position: absolute;
  top: -1.5px;
  left: -18px;
  width: 2px;
  height: 31px;
  border-radius: 5px;
  background-color: #D8AE5E;
}


.realestate_section_guide>.main_container {
  width: 65%;
}

/*  
.realestate_section_guide>.main_container>div {
  min-height: 100vh;
}
*/

/* wrappers des sections du guide */
#realestate_section_guide_section_1>.wrapper,
#realestate_section_guide_section_2>.wrapper,
#realestate_section_guide_section_7>.wrapper,
#realestate_section_guide_section_8>.wrapper,
#realestate_section_guide_section_9>.wrapper {
  max-width: calc(712px + 24px + 64px);
  margin-right: auto;
  padding-left: 64px;
  padding-right: 24px;
}

#realestate_section_guide_section_1>.wrapper {
  padding-top: 72px;
  padding-bottom: 96px;
}

#realestate_section_guide_section_2>.wrapper {
  padding-top: 72px;
  padding-bottom: 64px;
}

#realestate_section_guide_section_3>.wrapper {
  max-width: calc(712px + 24px + 64px);
  margin-right: auto;
  padding-left: 64px;
  padding-right: 24px;
}

#realestate_section_guide_section_7>.wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
}

#realestate_section_guide_section_8>.wrapper {
  padding-top: 80px;
  padding-bottom: 96px;
}

#realestate_section_guide_section_9>.wrapper {
  padding-top: 72px;
  padding-bottom: 80px;
}


/* autres définitions spécfifiques */
#realestate_section_guide_section_1>.wrapper>p {
  margin: 32px 0px 80px 0px;
}


#realestate_section_guide_section_2>.wrapper>div:first-of-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 16px;
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>h2 {
  max-width: 450px;
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>.button_box>button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  opacity: 0.25;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  transition: all 0.2s;
  cursor: auto;
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>.button_box>button:first-of-type {
  transform: rotate(180deg);
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>.button_box>button.active {
  cursor: pointer;
  opacity: 100%;
}

#realestate_section_guide_section_2>.wrapper>div:first-of-type>.button_box>button.active:hover {
  scale: 1.15;
}


#realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
  transition: all 0.2s;
  overflow-x: visible;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
  scrollbar-width: 0;
}

#realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#realestate_section_guide_section_2>.wrapper>div:last-of-type>div::-webkit-scrollbar,
#realestate_section_guide_section_2>.wrapper>div:last-of-type>div::-webkit-scrollbar {
  display: none;
}

#realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider>div {
  flex: none;
  width: 569.895px;
  height: 545px;
  padding: 42px;
  border-radius: 8px;
  background-color: #0F2A3D;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  scroll-snap-align: start;
  user-select: none;
  position: relative;
  overflow: hidden;
}

#realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider>div>.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider>div>.content>h4 {
  color: rgba(255, 255, 255, 0.15);
}


@media only screen and (max-width: 768px) {
  #realestate_section_guide_section_2>.wrapper>div:last-of-type>.slider>div {
    width: 350px;
    height: 800px;
    padding: 56px 24px 40px 24px;
  }

  #realestate_section_guide_section_2>.wrapper>div:first-of-type {
    margin-bottom: 24px;
    flex-direction: column;
  }

  #realestate_section_guide_section_2>.wrapper>div>.button_box {
    align-self: flex-end;
  }
}


/* realestate_section_guide_inside_link */
.realestate_section_guide_inside_link {
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
}



/* inside_bloc */
.realestate_section_guide>.main_container>div>.wrapper div.inside_bloc {
  padding: 20px 0px 64px 0px;
  position: relative;
}


.realestate_section_guide>.main_container>div>.wrapper div.inside_bloc::before {
  content: '';
  display: inline-block;
  width: 176px;
  height: 1px;
  position: absolute;
  top: 0;
  background-color: rgba(135, 156, 172, 0.44);
}



@media only screen and (max-width: 992px) {
  .realestate_section_guide {
    flex-direction: column;
  }

  .realestate_section_guide>.pagination_container {
    width: 100%;
    height: fit-content;
  }

  .realestate_section_guide>.pagination_container>.wrapper {
    padding: 40px 24px 32px 24px;
    max-width: none;
    margin-left: unset;
    height: fit-content;
    min-height: fit-content;
    position: unset;
    top: 0;
  }

  .realestate_section_guide>.pagination_container>.wrapper>div {
    display: none;
  }


  .realestate_section_guide>.main_container {
    width: 100%;
  }


  #realestate_section_guide_section_1>.wrapper,
  #realestate_section_guide_section_2>.wrapper,
  #realestate_section_guide_section_7>.wrapper,
  #realestate_section_guide_section_8>.wrapper,
  #realestate_section_guide_section_9>.wrapper {
    margin-right: unset;
    max-width: none;
    padding-left: 24px;
    padding-right: 24px;
  }

  #realestate_section_guide_section_1>.wrapper {
    padding-top: 56px;
    padding-bottom: 96px;
  }

  #realestate_section_guide_section_2>.wrapper {
    padding-top: 64px;
    padding-bottom: 80px;
  }

  #realestate_section_guide_section_7>.wrapper,
  #realestate_section_guide_section_8>.wrapper,
  #realestate_section_guide_section_9>.wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
  }


  #realestate_section_guide_section_1>.wrapper>p {
    margin: 32px 0px 64px 0px;
  }
}



/*================================ REAL ESTATE CROWDFUNDING - 7 FAQ SECTION =======================================*/

.realestate_section_faq>.wrapper {
  padding-top: 96px;
  padding-bottom: 96px;
}

.realestate_section_faq>.wrapper>h2 {
  max-width: 580px;
}

.realestate_section_faq>.wrapper>.main_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 56px;
  row-gap: 32px;
}

.realestate_section_faq>.wrapper>.main_container>div {
  width: calc(50% - 28px);
  max-width: 480px;
  position: relative;
}

.realestate_section_faq>.wrapper>.main_container>div::before {
  content: attr(data-number);
  font-family: 'Poppins', 'Lora', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  position: absolute;
  top: -30px;
}

@media only screen and (max-width: 768px) {
  .realestate_section_faq>.wrapper {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .realestate_section_faq>.wrapper>.main_container>div {
    width: 100%;
    max-width: unset;
  }

}


/*================================ REAL ESTATE CROWDFUNDING - 8 GROUPE SECTION =======================================*/
.realestate_section_groupe {
  color: var(--white);
  height: 272px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.realestate_section_groupe>.background_image_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.realestate_section_groupe>.background_image_container>img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translateY(25%);
}



@media only screen and (max-width: 768px) {
  .realestate_section_groupe>.background_image_container>img {
    transform: translateY(0%);
  }
}