@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

@import url('https://use.typekit.net/any0kso.css');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}


.background-services-cards-achat {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),
    url("../sources/img/services/cards/achat.jpeg") lightgray 50% / cover no-repeat;
}

.background-services-cards-vente {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%),
    url("../sources/img/services/cards/vente.jpeg") lightgray 50% / cover no-repeat;
}

.background-services-cards-recherche {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
    url("../sources/img/services/cards/recherche.jpeg") lightgray 50% / cover no-repeat;
}


.background-header {
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.58) 9.87%, rgba(255, 255, 255, 0.18) 94.37%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
}



.mask_cars::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 61.5%, #000 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mask_cars_inactive{
  pointer-events: none;

}
.mask_cars_inactive::after{
  background-color: white;
  opacity: 0.7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}