<!--card-message start-->
<!--variant 1-->
<figure class="flex flex-col justify-center items-start px-component-2xl py-component-xl gap-space-between-xl border-l-[8px] border-l-tertiary-orange-xhigh">
    <blockquote class="body-xl-bold text-neutral-text-xhigh font-mono">
        <p>Tips - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida habitant risus cursus neque scelerisque tempor, pretium interdum.</p>
    </blockquote>
</figure>
</br>
<!--variant 2-->
<figure class="flex flex-col justify-center items-start px-component-2xl py-component-xl gap-space-between-xl border-l-[8px] border-l-tertiary-blue-xhigh">
    <blockquote class="body-xl-bold text-neutral-text-xhigh font-mono">
        <p>"Quotes - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida habitant risus cursus neque scelerisque tempor, pretium interdum."</p>
    </blockquote>
    <figcaption class="flex justify-center items-center gap-space-between-lg font-mono">
<!--        avatar component start-->
        <div class="size-avatar-xs rounded-full border-3 border-tertiary-blue-xhigh overflow-hidden">
            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle cx="32" cy="32" r="32" fill="url(#pattern0)"/>
                <defs>
                    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_3099_106031" transform="scale(0.015625)"/>
                    </pattern>
                    <image id="image0_3099_106031" width="64" height="64" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAONJREFUeF7t20EOhEAIRFG4/6F7DvEnYeFzryQIv6pBd2behOu9dPvsbog+k+NLgArQAqmJcw9iAAhSgZKB3IJkkAySQTJ4CiE+gA8oBeg0mH3Ai084P89HhqwEqIA209ICsQdjAeaZIgaAYKxBDMCAYy8fXwAIgiAIcoJpJEYGI4VjB3YrbC9gL2AvkCB43cM5PgZgAAZgQFnNZAhdGykQBEEQBEEQDBmgAm2glM/z+QUYisYUGoldO7kY32IEAzCg6RgIRgjFAsw+AgRBMNYgBmCAT2TCYfoPPz/HCqQCX1eBHzHnv7C7WhBSAAAAAElFTkSuQmCC"/>
                </defs>
            </svg>
        </div>
<!--        avatar component end-->
        <div class="space-y-0.5 font-medium dark:text-white text-left">
            <div class="body-l-bold neutral-text-xhigh">Joseph McFall</div>
            <div class="body-m neutral-text-xhigh">CTO at Google</div>
        </div>
    </figcaption>
</figure>
<!--card-message end-->