<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARROUSEL SANS ALPINE</title>

    <!-- lien avec la feuille de style compilée tailwind -->
    <link rel="stylesheet" href="../css/output.css">

    <!-- alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <!-- script JS component -->
    <script defer src="../js/script_carrousel.js"></script>

</head>

<body>


    <section class=" bg-black text-white">

        <div class="pt-10 md:pt-24 pb-32 md:pb-24 relative">
            <div
                class="gap-6 pb-10 md:pb-20 px-7 max-w-[1184px] mx-auto flex flex-wrap  justify-start md:justify-between items-center">
                <h2 class="font-neue font-medium text-2xl md:text-5xl">Nos dernières voitures.</h2>
                <a href="#" target="_blank" class="px-6 md:px-7 py-3 w-fit rounded-full whitespace-nowrap
                bg-transparent text-white border-white border text-xs md:text-lg font-neue font-medium
                    flex flex-nowrap justify-center items-center gap-4 md:gap-5 group 
                    md:static absolute bottom-[50px] left-1/2 -translate-x-1/2 md:translate-x-0">
                    <span>En savoir plus</span>
                    <span class="bg-ico-arrow-right-green-cta w-[16px] md:w-[23.4px] h-[10.7px] md:h-[15.6px] bg-no-repeat bg-center bg-cover 
                        transition-transform duration-300 translate-x-0 group-hover:translate-x-2"></span>
                </a>

            </div>



            <div
                class="js_slider px-7 h-[135px] md:h-[275px] gap-6 md:gap-12 grid grid-flow-col auto-cols-[222px] md:auto-cols-[441px] overflow-auto no_scrollbar">


                <a href="/pages/nos-voitures.html"
                    class="js_slide bg-[url('../sources/img/nos_voitures/nos-voitures.jpeg')] bg-no-repeat bg-center bg-cover relative mask_cars_carrousel group">

                    <div
                        class="absolute bottom-[8px] md:bottom-[20px] left-[10px] md:left-[18px] overflow-hidden md:max-h-[36px] w-[80%]">
                        <div
                            class="w-full md:transition-transform md:duration-300 md:group-hover:-translate-y-[36px] flex flex-col md:gap-2">
                            <h3 class="truncate max-w-full font-oswald font-normal text-sm md:text-2xl uppercase">
                                Porsche
                                Cayenne turbo<span class="text-primary-green">.</span></h3>
                            <h4
                                class="-mt-[2px] md:mt-0 truncate max-w-full font-neue font-medium  text-xs md:text-xl uppercase">
                                9YA 4.0
                                V8
                                550CH.</h4>
                        </div>
                    </div>

                    <button
                        class="inline-block rounded-full border border-white  absolute bottom-[12px] right-[12px] md:bottom-[18px] md:right-[18px] h-[26px] w-[26px] md:h-[40px] md:w-[40px] ">
                        <span class="inline-block w-full h-full bg-ico-arrow-right-green bg-no-repeat bg-center bg-[length:60%_auto] 
                    transition-transform duration-300 translate-x-0 hover:translate-x-1">
                        </span>
                    </button>
                </a>

                <a href="/pages/nos-voitures.html"
                    class="js_slide bg-[url('../sources/img/nos_voitures/nos-voitures.jpeg')] bg-no-repeat bg-center bg-cover relative mask_cars_carrousel group">

                    <div
                        class="absolute bottom-[8px] md:bottom-[20px] left-[10px] md:left-[18px] overflow-hidden md:max-h-[36px] w-[80%]">
                        <div
                            class="w-full md:transition-transform md:duration-300 md:group-hover:-translate-y-[36px] flex flex-col md:gap-2">
                            <h3 class="truncate max-w-full font-oswald font-normal text-sm md:text-2xl uppercase">
                                Porsche
                                Cayenne turbo<span class="text-primary-green">.</span></h3>
                            <h4
                                class="-mt-[2px] md:mt-0 truncate max-w-full font-neue font-medium  text-xs md:text-xl uppercase">
                                9YA 4.0
                                V8
                                550CH.</h4>
                        </div>
                    </div>

                    <button
                        class="inline-block rounded-full border border-white  absolute bottom-[12px] right-[12px] md:bottom-[18px] md:right-[18px] h-[26px] w-[26px] md:h-[40px] md:w-[40px] ">
                        <span class="inline-block w-full h-full bg-ico-arrow-right-green bg-no-repeat bg-center bg-[length:60%_auto] 
                transition-transform duration-300 translate-x-0 hover:translate-x-1">
                        </span>
                    </button>
                </a>

                <a href="/pages/nos-voitures.html"
                    class="js_slide bg-[url('../sources/img/nos_voitures/nos-voitures.jpeg')] bg-no-repeat bg-center bg-cover relative mask_cars_carrousel group">

                    <div
                        class="absolute bottom-[8px] md:bottom-[20px] left-[10px] md:left-[18px] overflow-hidden md:max-h-[36px] w-[80%]">
                        <div
                            class="w-full md:transition-transform md:duration-300 md:group-hover:-translate-y-[36px] flex flex-col md:gap-2">
                            <h3 class="truncate max-w-full font-oswald font-normal text-sm md:text-2xl uppercase">
                                Porsche
                                Cayenne turbo<span class="text-primary-green">.</span></h3>
                            <h4
                                class="-mt-[2px] md:mt-0 truncate max-w-full font-neue font-medium  text-xs md:text-xl uppercase">
                                9YA 4.0
                                V8
                                550CH.</h4>
                        </div>
                    </div>

                    <button
                        class="inline-block rounded-full border border-white  absolute bottom-[12px] right-[12px] md:bottom-[18px] md:right-[18px] h-[26px] w-[26px] md:h-[40px] md:w-[40px] ">
                        <span class="inline-block w-full h-full bg-ico-arrow-right-green bg-no-repeat bg-center bg-[length:60%_auto] 
            transition-transform duration-300 translate-x-0 hover:translate-x-1">
                        </span>
                    </button>
                </a>

                <a href="/pages/nos-voitures.html"
                    class="js_slide bg-[url('../sources/img/nos_voitures/nos-voitures.jpeg')] bg-no-repeat bg-center bg-cover relative mask_cars_carrousel group">

                    <div
                        class="absolute bottom-[8px] md:bottom-[20px] left-[10px] md:left-[18px] overflow-hidden md:max-h-[36px] w-[80%]">
                        <div
                            class="w-full md:transition-transform md:duration-300 md:group-hover:-translate-y-[36px] flex flex-col md:gap-2">
                            <h3 class="truncate max-w-full font-oswald font-normal text-sm md:text-2xl uppercase">
                                Porsche
                                Cayenne turbo<span class="text-primary-green">.</span></h3>
                            <h4
                                class="-mt-[2px] md:mt-0 truncate max-w-full font-neue font-medium  text-xs md:text-xl uppercase">
                                9YA 4.0
                                V8
                                550CH.</h4>
                        </div>
                    </div>

                    <button
                        class="inline-block rounded-full border border-white  absolute bottom-[12px] right-[12px] md:bottom-[18px] md:right-[18px] h-[26px] w-[26px] md:h-[40px] md:w-[40px] ">
                        <span class="inline-block w-full h-full bg-ico-arrow-right-green bg-no-repeat bg-center bg-[length:60%_auto] 
        transition-transform duration-300 translate-x-0 hover:translate-x-1">
                        </span>
                    </button>
                </a>

                <a href="/pages/nos-voitures.html"
                    class="js_slide bg-[url('../sources/img/nos_voitures/nos-voitures.jpeg')] bg-no-repeat bg-center bg-cover relative mask_cars_carrousel group">

                    <div
                        class="absolute bottom-[8px] md:bottom-[20px] left-[10px] md:left-[18px] overflow-hidden md:max-h-[36px] w-[80%]">
                        <div
                            class="w-full md:transition-transform md:duration-300 md:group-hover:-translate-y-[36px] flex flex-col md:gap-2">
                            <h3 class="truncate max-w-full font-oswald font-normal text-sm md:text-2xl uppercase">
                                Porsche
                                Cayenne turbo<span class="text-primary-green">.</span></h3>
                            <h4
                                class="-mt-[2px] md:mt-0 truncate max-w-full font-neue font-medium  text-xs md:text-xl uppercase">
                                9YA 4.0
                                V8
                                550CH.</h4>
                        </div>
                    </div>

                    <button
                        class="inline-block rounded-full border border-white  absolute bottom-[12px] right-[12px] md:bottom-[18px] md:right-[18px] h-[26px] w-[26px] md:h-[40px] md:w-[40px] ">
                        <span
                            class="inline-block w-full h-full bg-ico-arrow-right-green bg-no-repeat bg-center bg-[length:60%_auto] transition-transform duration-300 translate-x-0 hover:translate-x-1">
                        </span>
                    </button>
                </a>


            </div>

        </div>




    </section>




    <section class=" bg-white text-black">
        <div class=" px-7 pt-20 pb-24 md:pb-52 max-w-[1184px] mx-auto">



            <div x-data="{
                            activeImage: 0,
                            images: [
                                '../sources/img/detail_voiture/habitacle/habitacle_1.jpeg',
                                '../sources/img/homepage.jpg',
                                '../sources/img/detail_voiture/habitacle/habitacle_2.png'
                            ],
                            setActiveImage(index) { this.activeImage = index; },
                            next() { this.activeImage = (this.activeImage + 1) % this.images.length; },
                            prev() { this.activeImage = (this.activeImage - 1 + this.images.length) % this.images.length; }
                        }" class="relative h-[480px] md:h-[680px]">

                <div class="w-full h-full flex justify-center items-center overflow-hidden">
                    <img :src="images[activeImage]" :alt="'image habitacle ' + (activeImage + 1)"
                        class="  object-cover max-w-none min-h-full min-w-full">
                </div>


                <button @click="prev()" aria-label="Image précédente"
                    class="absolute top-1/2 left-[10px] md:left-[32px] transform -translate-y-1/2 rotate-180 z-50 bg-transparent h-[32px] w-[32px] md:w-[40px] md:h-[40px] cursor-pointer rounded-full border border-white ">
                    <span class="inline-block w-full h-full bg-ico-arrow-right-white bg-no-repeat bg-center bg-[length:60%_auto] 
                            transition-transform duration-300 translate-x-0 md:hover:translate-x-1"></span>
                </button>

                <button @click="next()" aria-label="Image suivante"
                    class="absolute top-1/2 right-[10px] md:right-[32px] transform -translate-y-1/2 z-50 bg-transparent h-[32px] w-[32px] md:w-[40px] md:h-[40px] cursor-pointer rounded-full border border-white ">
                    <span class="inline-block w-full h-full bg-ico-arrow-right-white bg-no-repeat bg-center bg-[length:60%_auto] 
                        transition-transform duration-300 translate-x-0 md:hover:translate-x-1"></span>
                </button>

                <div
                    class="absolute bottom-5 md:bottom-6 left-0 right-0 flex justify-center gap-[5px] md:gap-[10px] z-50">
                    <template x-for="(image, index) in images" :key="index">
                        <button @click="setActiveImage(index)" :aria-selected="activeImage === index ? 'true' : 'false'"
                            class="h-[10px] w-[10px] md:h-[13px] md:w-[13px] border border-white rounded-full focus:outline-none bg-transparent cursor-pointer aria-selected:bg-white aria-selected:w-[30px] aria-selected:md:w-[43px] aria-selected:cursor-default"></button>
                    </template>
                </div>

            </div>





        </div>
    </section>







</body>

</html>