<!--PROPS
forme :
[
"",
"border-radius-xs",
"border-leaf",
"rounded-full"
]
PROPS END-->
<div class="flex flex-wrap gap-space-between-4xl">
<!-- media-image start-->

    <!--variant square-->
        <figure class="max-w-[300px] xl:w-[300px] aspect-square overflow-hidden">
            <img class="min-w-full min-h-full object-cover object-center" src="./assets/img/media.jpg" alt="image-alt">
        </figure>
    <!--variant square end-->

    <!--variant rounded-->
        <figure class="max-w-[300px] xl:w-[300px] aspect-square overflow-hidden border-radius-xs">
            <img class="min-w-full min-h-full object-cover object-center" src="./assets/img/media.jpg" alt="image-alt">
        </figure>
    <!--variant rounded end-->

    <!--variant leaf-->
        <figure class="max-w-[300px] xl:w-[300px] aspect-square overflow-hidden border-leaf">
            <img class="min-w-full min-h-full object-cover object-center" src="./assets/img/media.jpg" alt="image-alt">
        </figure>
    <!--variant leaf end-->

    <!--variant circle-->
        <figure class="max-w-[300px] xl:w-[300px] aspect-square overflow-hidden rounded-full">
            <img class="min-w-full min-h-full object-cover object-center" src="./assets/img/media.jpg" alt="image-alt">
        </figure>
    <!--variant circle end-->
<!-- media-image end-->
</div>