/*

Header + burger menu
pas encore fait pour toutes les pages car pas designé

SECTION 1 Les recruteurs spécialisés Commerce & Luxe et Immobilier
- manque parallax

SECTION 5 contact
- formulaire mis en place avec 
https://smtpjs.com/
- outil externe, on neut pas gérer le formulaire directement depuis un site
- à priori, compliqué d'intégrer la PJ








header + burger menu
SECTION 1 Les recruteurs spécialisés Commerce & Luxe et Immobilier
SECTION 2 Deux marques, une promesse
SECTION 3 Nous proposons une expérience recrutement moderne et de proximité !
SECTION 4 L’ADN de Workyn! Recrutement
SECTION 5 Formulaire de contact
FOOTER






$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


D0541A7BAEE97C84CF428124F1C7028F59D1

c5306d78-131d-4951-9bcc-d5affcc4fd9a

*/