/*


cabler le formulaire avec informations antoine
cablé proprement sur le mien, j'ai mis une redirection
https://smtpjs.com/



SECTION 1 Introduction
PARALLAX pas mis en place pour le moment, possible dans une version 2




https://paulstilhart.github.io/test/projets_clients/workyn/


www.workyn-recrutement.com
Cabinet de recrutement – Commerce & Luxe | Immobilier
Workyn Recrutement est un cabinet de recrutement spécialisé par secteur : le Commerce & Luxe et l’Immobilier. Nous recrutons les équipes corporate et opérationnelles partout en France.

Workyn! Commerce & Luxe
Le cabinet de recrutement exclusivement dédié au secteur du retail et du luxe

Workyn! Immobilier 
Le cabinet de recrutement exclusivement dédié au secteur de l’immobilier

Offres d’emploi
Grâce à Workyn Recrutement, trouvez votre futur poste dans le secteur du commerce et du luxe ou de l’immobilier




SMTP JS
D0541A7BAEE97C84CF428124F1C7028F59D1
c5306d78-131d-4951-9bcc-d5affcc4fd9a


contact@workyn-recrutement.com
e8b9fb76-206e-4376-acce-d4f2738ff0eb

contact@workyn-recrutement.com
Workyn!2022


antoine@workyn-recrutement.com


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/