/*================================ RESET CSS =======================================*/
html {
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button,
input,
select,
textarea {
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
button {
    cursor: pointer;
}

a:focus,
a:active,
button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    outline: none;
    outline-color: transparent !important;
}

ul {
    list-style-position: inside;
}


/*================================ COULEUR =======================================*/

:root {
    --black: #000000;
    --white: #ffffff;
    --white_break: #F2F2F2;
    --grey: #929292;
    --blue_strong: #38516B;
    --blue: #236FE0;
    --green: #1DD6C9;
    --green_light: #F5FFFE;
    --pink: #FFBDE0;
}

.background_black {
    background-color: var(--black);
}

.color_black {
    color: var(--black);
}

.background_white {
    background-color: var(--white);
}

.color_white {
    color: var(--white);
}

.background_white_break {
    background-color: var(--white_break)
}

.color_white_break {
    color: var(--white_break);
}

.background_grey {
    background-color: var(--grey);
}

.color_grey {
    color: var(--grey);
}

.background_blue_strong {
    background-color: var(--blue_strong);
}

.color_blue_strong {
    color: var(--blue_strong);
}

.background_blue {
    background-color: var(--blue);
}

.color_blue {
    color: var(--blue);
}

.background_green {
    background-color: var(--green);
}

.color_green {
    color: var(--green);
}

.background_green_light {
    background-color: var(--green_light);
}

.color_green_light {
    color: var(--green_light);
}

.background_pink {
    background-color: var(--pink);
}

.color_pink {
    color: var(--pink);
}

/*================================ FONTS =======================================*/
html {
    color: var(--blue_strong);
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}


/* Texte courant */
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


/* Texte small */
.p_small {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}


/* Balise strong */
strong {
    font-weight: 700;
}


/* Titres principaux */
h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26.4px;
}

h2 {
    font-weight: 300;
    font-size: 60px;
    line-height: 90px;
}

.h2_48_72 {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}

.h2_60_72 {
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
}



h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

@media only screen and (max-width: 576px) {
    h2 {
        font-size: 35px;
        line-height: 52px;
    }

    .h2_48_72 {
        font-size: 30px;
        line-height: 45px;
    }

    .h2_60_72 {
        font-size: 35px;
        line-height: 39px;
    }

    h4 {
        font-size: 19px;
        line-height: 28px;
    }
}


/* Font-weight */

.fw_300 {
    font-weight: 300;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

.fw_900 {
    font-weight: 900;
}


/*================================ FLEXBOX =======================================*/

.flex {
    display: flex;
    flex-direction: row;
}

.flex_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_start_start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.flex_start_center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex_start_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex_center_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_center_start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.flex_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_between_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_end_center {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_center_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex_column_end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}

.flex_none {
    flex: none;
}

.align_self_start {
    align-self: flex-start;
}

.align_self_center {
    align-self: center;
}

.align_self_end {
    align-self: flex-end;
}

@media only screen and (max-width: 1200px) {
    .flex_column_under_1200 {
        flex-direction: column;
    }

    .flex_column_reverse_center_under_1200 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .flex_column_center_center_under_1200 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 576px) {
    .flex_column_under_576 {
        flex-direction: column;
    }
}


/*================================ TEXT ALIGN BORDER RADIUS DISPLAY BLOCK & NONE =======================================*/

.text_center {
    text-align: center;
}



.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.dblock {
    display: block;
}

.dinline {
    display: inline;
}

.dnone {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .text_center_under_1200 {
        text-align: center;
    }

    .dblock_under_1200 {
        display: block;
    }
}

/*================================ MARGIN PADDING GAP WIDTH HEIGHT =======================================*/
.mw_100 {
    max-width: 100%;
}

.mw_560 {
    max-width: 560px;
}

.mw_650 {
    max-width: 650px;
}

.mw_700_auto {
    max-width: 700px;
    margin: auto;
}

.mw_730 {
    max-width: 730px;
}

.mw_800_auto {
    max-width: 800px;
    margin: auto;
}

.mw_900 {
    max-width: 900px;
}

.mw_900_auto {
    max-width: 900px;
    margin: auto;
}

.mw_1000_auto {
    max-width: 1000px;
    margin: auto;
}

.mw_1090_auto {
    max-width: 1090px;
    margin: auto;
}

.mw_1312_auto {
    max-width: 1312px;
    margin: auto;
}

.mw_1440_auto {
    max-width: 1440px;
    margin: auto;
}

.m_auto {
    margin: auto;
}

.my_auto {
    margin-left: auto;
    margin-right: auto;
}

.mr_auto {
    margin-right: auto;
}

.mb_8 {
    margin-bottom: 8px;
}

.mb_16 {
    margin-bottom: 16px;
}

.mb_24 {
    margin-bottom: 24px;
}

.mb_32 {
    margin-bottom: 32px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_48 {
    margin-bottom: 48px;
}

.mb_56 {
    margin-bottom: 56px;
}

.mb_64 {
    margin-bottom: 64px;
}

.mb_80 {
    margin-bottom: 80px;
}

.mb_160 {
    margin-bottom: 160px;
}

.gap_8 {
    gap: 8px;
}

.gap_16 {
    gap: 16px;
}

.gap_24 {
    gap: 24px;
}

.gap_32 {
    gap: 32px;
}

.gap_48 {
    gap: 48px;
}

.gap_80 {
    gap: 80px;
}

.w_100 {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .my_auto_under_1200 {
        margin-left: auto;
        margin-right: auto;
    }

    .mw_250_under_1200 {
        max-width: 250px;
    }

    .mb_32_under_1200 {
        margin-bottom: 32px;
    }

    .gap_8_under_1200 {
        gap: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .gap_48_under_768 {
        gap: 48px;
    }
}



@media only screen and (max-width: 576px) {
    .gap_16_under_576 {
        gap: 16px;
    }

    .gap_32_under_576 {
        gap: 32px;
    }

    .mb_24_under_576 {
        margin-bottom: 24px;
    }
}



/*================================ COMPOSANTS PROJET =======================================*/

.button_classic {
    padding: 16px 32px;
    border-radius: 8px;
}
.button_hover_arrow>span{
    height: 20px;
    width: 16px;
    z-index: 10;
}
.button_hover_arrow>img {
    margin-left: -6px;
}

.button_hover_arrow:hover>img {
    transform: translateX(6px);
}

.border_1_grey {
    border: 1px solid var(--grey);
}

.border_1_blue_strong {
    border: 1px solid var(--blue_strong);
}

.border_1_bottom_grey {
    border-bottom: 1px solid var(--grey);
}

.box_shadow {
    box-shadow: 0px 4px 50px rgba(56, 81, 107, 0.15);
}

.transition_200ms_easeout {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.hover_background_blue_strong_color_white:hover {
    color: white;
    background-color: #38516B;
}

.anchor {
    position: absolute;
}

/*================================ HEADER =======================================*/
header {
    height: 100px;
    padding: 0px 64px;
    position: fixed;
    z-index: 99;
    /* transition: all 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84); */
}

.header_link_home_logo {
    width: 157px;
}

.header_link_home_icon {
    width: 36px;
}

.header_scroll>a {
    font-weight: 700;
}

header.header_big .header_link_home_logo {
    display: none !important;
}

header.header_big .header_link_home_icon {
    display: block !important;
}

header.header_big .header_scroll {
    display: flex !important;
}

.nav_links_pages,
.nav_links_pages img {
    width: 107px;
}

.nav_links_pages {
    margin-right: 28px;
}

.nav_links {
    border-bottom: 2px solid rgba(29, 214, 202, 0);
}

.nav_links:hover {
    border-bottom-color: var(--green);
}

.nav_links.realestate:hover {
    border-bottom-color: var(--blue);
}

.nav_links.business:hover {
    border-bottom-color: var(--pink);
}

.nav_toggler {
    position: fixed;
    z-index: 10;
    /* au dessus de la navigation */
    top: 25px;
    right: 35px;
    height: 50px;
    width: 35px;
    border: none;
    outline: none;
    /* ici rien pour que ce soit + sympa, mais si accessibilité il faut le rajouter */
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: transparent;
    /* on voit que les spans */
}

.line {
    position: absolute;
    display: block;
    /* pour pouvoir donner des dimensions aux éléments */
    width: 100%;
    height: 2px;
    background: var(--blue_strong);
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

/* Pour créer la croix quand on clique dessus */
.nav_toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav_toggler.active .l2 {
    opacity: 0;
}

.nav_toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}



@media only screen and (max-width: 1400px) {
    header.active {
        height: auto;
        justify-content: center;
    }

    header.active>.header_link_home {
        display: none;
    }

    nav {
        flex-direction: column !important;
        transform: translateY(-100%);
        padding: 16px 0px;
    }

    nav.active {
        display: flex !important;
        transform: translate(0);
    }

    .header_scroll {
        flex-direction: column;
    }

    .header_scroll>p {
        display: none;
    }

    .nav_toggler {
        display: flex;
    }

    .nav_links_pages {
        margin-right: 0;
    }
}


/*================================ SECTION 1 INTRODUCTION =======================================*/
.section_introduction {
    padding: 130px 60px 128px 60px;
}

.section_introduction_illustration {
    width: 45%;
    margin-left: -80px;
}

.section_introduction_anchor {
    margin-top: 32px;
}

.section_introduction_anchor img {
    animation: scale 1600ms ease-out infinite;
    margin-bottom: 5px;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    .section_introduction_illustration {
        width: 100%;
        max-width: 600px;
        margin-left: 0px;
    }

    .section_introduction_anchor {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .section_introduction {
        padding: 130px 32px 45px 32px;
    }
}

@media only screen and (max-width: 576px) {
    .section_introduction {
        padding: 130px 24px 90px 24px;

    }
}

/*================================ SECTION 2 BRANDS =======================================*/
.section_brands_content {
    padding: 128px 24px 80px 24px;
}

.section_brands_content h3 strong {
    position: relative;
}

.section_brands_content h3 strong img {
    position: absolute;
}

.section_brands_content h3 strong img.first_element {
    left: -35px;
    top: -12px;
}

.section_brands_content h3 strong img.second_element {
    right: -250px;
    bottom: -12px;
}

.section_brands_cards {
    padding: 0px 24px;
    position: relative;
}

.section_brands_card {
    border-radius: 32px;
    padding: 48px 80px;
    position: relative;
}

.section_brands_card_logo {
    width: 351px;
}

.section_brands_card li {
    margin-left: 10px;
}

.section_brands_ribbon_container {
    position: absolute;
    left: 40%;
    top: 0;
    width: 200%;
    height: 250px;
}

.section_brands_ribbon {
    position: absolute;
    left: -50%;
    top: 20px;
    width: 200%;
    height: 300px;
    transform: rotate(9deg);
}

@media only screen and (max-width: 1200px) {
    .section_brands_ribbon {
        height: 800px;
    }
}


@media only screen and (max-width: 768px) {
    .section_brands_content {
        padding: 45px 124px 80px 124px;
    }

    .section_brands_content h3 strong img.second_element {
        right: -80px;
    }
}

@media only screen and (max-width: 576px) {
    .section_brands_content {
        padding: 45px 24px 80px 24px;
    }

    .section_brands_content h3 strong img.second_element {
        right: -35px;
    }

    .section_brands_card {
        padding: 32px;
    }

    .section_brands_card_logo {
        width: 268px;
    }


    .section_brands_ribbon {
        height: 700px;
    }
}

/*================================ SECTION 3 RECRUITMENT =======================================*/
.section_recruitment {
    margin-top: 160px;
}

.section_recruitment_presentation {
    padding: 0px 64px;
    margin-bottom: 335px;
}

.section_recruitment_ribbon_background {
    height: 440px;
    position: relative;
}

.section_recruitment_ribbon_background_rotation {
    width: 200%;
    height: 530px;
    position: absolute;
    top: -265px;
    left: -50%;
    transform: rotate(-9deg);
}

.section_recruitment_ribbon_container {
    position: relative;
    top: -25%;
    padding: 0px 64px;
}

.section_recruitment_ribbon_container_img {
    position: absolute;
}

.section_recruitment_ribbon_container div img {
    width: 87px;
}

.section_recruitment_ribbon_container h3 {
    width: 90%;
}

.section_recruitment_ribbon_container_img {
    position: absolute;
    width: 360px;
}

.section_recruitment_ribbon_container_img.first_element {
    top: -280px;
    right: 25%;
}

.section_recruitment_ribbon_container_img.second_element {
    top: 80px;
    left: 65%;
}

@media only screen and (max-width: 1200px) {
    .section_recruitment_presentation {
        margin-bottom: 500px;
    }

    .section_recruitment_ribbon_container_img.first_element {
        top: -320px;
        right: 5%;
    }

    .section_recruitment_ribbon_container_img.second_element {
        top: 270px;
        left: 5%;
    }
}


@media only screen and (max-width: 768px) {
    .section_recruitment_presentation {
        padding: 0px 32px;
    }

    .section_recruitment_ribbon_container {
        top: -35%;
        padding: 0px 32px;
    }
}

@media only screen and (max-width: 576px) {
    .section_recruitment_presentation {
        padding: 0px 24px;
    }

    .section_recruitment_ribbon_container {
        top: -45%;
        padding: 0px 24px;
    }

    .section_recruitment_ribbon_container_img {
        width: 180px;
    }

    .section_recruitment_ribbon_container_img.first_element {
        top: -180px;
        right: 5%;
    }

    .section_recruitment_ribbon_container_img.second_element {
        top: 400px;
        left: 5%;
    }
}

/*================================ SECTION 4 ADN =======================================*/
.section_adn {
    padding: 0px 32px 80px 32px;
}

.section_adn_offers {
    padding: 48px;
    border-radius: 16px;
}

@media only screen and (max-width: 1200px) {
    .section_adn {
        padding: 160px 32px 80px 32px;
    }
}


@media only screen and (max-width: 576px) {

    .section_adn {
        padding: 0px 24px 80px 24px;
    }

    .section_adn_offers {
        padding: 48px 32px;
    }
}

/*================================ SECTION 5 CONTACT =======================================*/

.section_contact {
    padding: 80px 32px 160px 32px;
}

.section_contact_icon {
    width: 76px;
}

.section_contact form input {
    height: 28px;
}

.section_contact form textarea {
    padding: 16px 24px;
    height: 100px;
}

@media only screen and (max-width: 576px) {
    .section_contact {
        padding: 80px 8px 160px 8px;
    }

    .section_contact form {
        padding: 0px 16px;
    }

    .section_contact form .button_box {
        flex-direction: column;
        align-items: start;
        gap: 8px;

    }
}

/*================================ SECTION 1 SOUS PAGE INTRODUCTION =======================================*/
.section_introduction_page {
    padding: 220px 24px 0px 24px;
}

.section_introduction_page_content {
    width: 533px;
    max-width: 100%;
}

.section_introduction_page_img {
    width: 425px;
}

.section_introduction_page_anchor {
    margin-top: 130px;
}

@media only screen and (max-width: 1200px) {
    .section_introduction_page {
        padding: 220px 24px 0px 24px;
    }
}

@media only screen and (max-width: 576px) {
    .section_introduction_page {
        padding: 220px 24px 0px 24px;
    }

    .section_introduction_page_img {
        width: 225px;
    }
}

/*================================ SECTION 2 SOUS PAGE GOALS =======================================*/
.section_goals {
    position: relative;
    padding: 190px 0px 110px 0px;
}


.section_goals_ribbon_container {
    position: absolute;
    left: -150%;
    top: 195px;
    width: 400%;
    height: 570px;
    transform: rotate(-9deg);
}

.section_goals_content_img {
    padding-top: 40px;
    max-width: 490px;
}

.section_goals_content_img p {
    width: 110%;
}


.section_goals_content {
    position: relative;
    padding: 0px 24px;
}

.section_goals_content_text {
    width: 730px;
    max-width: 100%;
}

.section_goals_content_text img {
    width: 85px;
}

.section_goals_content h3 {
    max-width: 655px;
}

@media only screen and (max-width: 1200px) {
    .section_goals {
        padding: 256px 0px 75px 0px;
    }

    .section_goals_ribbon_container {
        height: 750px;
        top: 150px;
    }

    .section_goals_content_img {
        flex-direction: column-reverse;
        padding-top: 0px;
        margin-top: -120px;
        text-align: center;
        max-width: 100%;
    }

    .section_goals_content_img img {
        max-width: 485px;
    }

    .section_goals_content_img p {
        width: 100%;
    }

    .section_goals_content {
        flex-direction: column-reverse;
    }

    .section_goals_content_text {
        align-self: center;
    }

    .section_goals_content_text img.second_element {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 576px) {
    .section_goals {
        padding: 120px 0px 35px 0px;
    }

    .section_goals_ribbon_container {
        height: 80%;
        top: 50px;
    }

    .section_goals_content_img {
        text-align: left;
        max-width: 250px;
    }
}

/*================================ SECTION 3 SOUS PAGE EXPERT =======================================*/
.section_expert {
    padding: 110px 64px 160px 64px;
}

.section_expert_container {
    padding: 64px 72px;
    border-radius: 24px;
}

.section_expert_container.realestate {
    max-width: 1313px;
    padding: 48px 64px;
    flex-wrap: wrap;
}

.section_expert_separator.realestate {
    width: 1.5px;
    height: 25px;
    background-color: var(--blue_strong);
}

.section_expert_container.realestate h3 {
    white-space: nowrap
}

.section_expert_container.realestate {
    gap: 20px;
}

.section_expert_content {
    gap: 48px;
}


.section_expert_content_separator {
    width: 1.5px;
    height: 171px;
}

@media only screen and (max-width: 992px) {
    .section_expert {
        padding: 75px 64px 200px 64px;
    }

    .section_expert_content {
        max-width: 333px;
        margin: auto;
        flex-direction: column;
    }

    .section_expert_content_separator {
        width: 171px;
        height: 1.5px;
    }

    .section_expert_container.realestate {
        flex-direction: column;
        padding: 48px 16px;
    }

    .section_expert_separator.realestate {
        rotate: 90deg;
    }
}


@media only screen and (max-width: 576px) {
    .section_expert {
        padding: 35px 16px 125px 16px;
    }

    .section_expert_container {
        padding: 64px 32px;
    }
}

/*================================ SECTION 4 SOUS PAGE SECTORS =======================================*/
.section_sectors {
    padding: 0px 24px;
}

.section_sectors_container {
    max-width: 675px;
}

.section_sectors_img_container {
    max-width: 220px;
    position: relative;
}

.section_sectors_container_realestate {
    font-size: 20px;
    line-height: 30px;
    gap: 16px;
}

.section_sectors_container_realestate img {
    width: 120px;
}

.section_sectors_container span {
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
}

@media only screen and (max-width: 1200px) {
    .section_sectors_container_realestate {
        width: 300px;
    }
}


@media only screen and (max-width: 768px) {
    .section_sectors_container {
        flex-direction: row;
        justify-content: center;
    }

    .section_sectors_container_realestate {
        width: 170px;
    }

    .section_sectors_container div {
        flex-direction: column;
        gap: 32px;
    }
}

@media only screen and (max-width: 576px) {
    .section_sectors_img_container {
        max-width: 180px;
    }

    .section_sectors_container_realestate {
        gap: 10px;
        width: 100%;
    }

    .section_sectors_container_realestate img {
        width: 100px;
    }
}

/*================================ SECTION 4 BIS SECTORS OPERATIONS =======================================*/
.section_operations {
    margin-top: 160px;
    padding: 0px 32px;
}

.section_operations_container {
    border-radius: 24px;
    padding: 48px 88px;
}

.section_operations_content,
.section_operations_content>div {
    justify-content: center;
    gap: 24px;
}

.section_operations_content_separator {
    width: 1.5px;
    max-height: 120px;
    background-color: var(--blue);
    flex: none;
}

.section_operations_content li {
    white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
    .section_operations_content {
        flex-direction: column;
    }

    .section_operations_content ul {
        width: 281px;
        max-width: 50%;
    }

    .section_operations_content_bottom::before {
        content: '';
        display: block;
        margin: 30px 0px;
        width: 160px;
        height: 1.5px;
        background-color: var(--blue);
    }

    .section_operations_content_separator {
        display: none;
    }

    .section_operations_content {
        gap: 0px;
    }

    .section_operations_content>div {
        gap: 60px;
    }

}


@media only screen and (max-width: 768px) {
    .section_operations_container {
        padding: 48px 32px;
    }

    .section_operations_content>div {
        flex-direction: column;
        gap: 0px;
    }

    .section_operations_content_middle::before {
        content: '';
        display: block;
        margin: 30px 0px;
        width: 160px;
        height: 1.5px;
        background-color: var(--blue);
    }
}

@media only screen and (max-width: 576px) {
    .section_operations {
        margin-top: 125px;
        padding: 0px 24px;
    }
}

/*================================ SECTION 5 SOUS PAGE APPROCHE =======================================*/
.section_approach {
    padding: 100px 64px 130px 64px;
    margin: 160px 0px 80px 0px;
}

.section_approach h2 {
    padding: 0px 24px 80px 24px;
}

.section_approach_cards_container {
    overflow-y: visible;
}

.section_approach_cards_container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
}

.section_approach_cards_buttons {
    padding: 24px;
}

.section_approach_cards_buttons img {
    width: 50px;
    height: 50px;
}

.section_approach_cards_buttons span {
    cursor: pointer;
    transition: transform 200ms ease;
}

#section_approach_cards_button_next:hover {
    transform: scale(1.2);
}

#section_approach_cards_button_previous {
    rotate: 90deg;
    opacity: 50%;
    cursor: default;
}

.section_approach_cards_button_previous.active {
    opacity: 100% !important;
    cursor: pointer !important;
}

.section_approach_cards_button_previous.active:hover {
    transform: scale(1.2);
}

#section_approach_cards_button_next {
    rotate: -90deg;
}

.section_approach_card {
    width: 365px;
    height: 634px;
    flex: none;
    transition: transform 500ms ease 0s;
}

.section_approach_card_image {
    height: 47%;
    border-radius: 24px 24px 0px 0px;
}

.section_approach_card_image img {
    max-width: 64%;
}

.section_approach_card_content {
    height: 53%;
    border-radius: 0px 0px 24px 24px;
    padding: 48px;
}



@media only screen and (max-width: 768px) {
    .section_approach {
        padding: 100px 24px;
        margin: 200px 0px 80px 0px;
    }
}

@media only screen and (max-width: 576px) {
    .section_approach {
        margin: 125px 0px 45px 0px;
    }

    .section_approach_cards_buttons {
        display: none;
    }

    .section_approach h2 {
        padding: 0px 24px 80px 24px;
    }

    .section_approach_cards_container {
        gap: 32px;
        overflow-y: auto;
    }

    .section_approach_card {
        width: 216px;
        height: 384px;
    }

    .section_approach_card_content {
        padding: 24px;
    }

    .section_approach_card_content h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .section_approach_card_content p {
        font-size: 10px;
        line-height: 15px;
    }
}



/*================================ FOOTER =======================================*/
.footer_container {
    padding: 48px 10%;
}

.footer_container_left img {
    width: 157px;
}

@media only screen and (max-width: 1200px) {
    .footer_container {
        padding: 48px 16px;
    }
}