/* 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

8 16 24 32 40 48 56 64 72 80


*/



@mixin md768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg992 {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl1200 {
    @media (min-width: 1200px) {
        @content;
    }
}



.profile_creation {
    &__wrapper {
        max-width: 1440px !important;

    }
}
main{
    padding:0px !important;
}
.profile_creation__col--left {
    background-color: $secondary-blue;
    color: $white;
    padding: 62px 16px 24px 67px !important;
    position: relative;

    @include lg992 {
        padding: 190px 16px 190px 67px !important;
        min-height: calc(100vh - 277px) !important;
    }

    @include xl1200 {
        padding: 190px 54px 190px 105px !important;
    }

    &::before {
        content: url('../../sources/logos/apec.svg')
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        width: 80px;
        height: 25.098px;
        position: absolute;
        top: 6.5px;
        left: 50%;
        transform: translateX(-50%);

        @include lg992 {
            display: none;
        }
    }

    h2 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        color: $white;
        margin-bottom: 8px;
        position: relative;

        &::before {
            content: url('../../sources/icons/4fleches.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            width: 31px;
            height: 31px;
            position: absolute;
            top: 0;
            left: -35.5px;
            transform: translateX(-50%);
        }
    }

    p {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        color: $white;
        margin-bottom: 16px;

        @include lg992 {
            max-width: 247px;
        }
    }
}


.profile_creation__col--right {
    background-color: $white;
    color: $text;
    padding: 24px 16px 48px 16px !important;

    @include lg992 {
        padding: 48px !important;
    }

    h1 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        color: $text;
        margin-bottom: 32px;
    }

    p {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: $text;
        margin-bottom: 16px;
    }

    .button_box:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;

        @include lg992 {
            flex-direction: row;
            margin-bottom: 48px;
        }

        button {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 31px;
            text-align: center;
            color: $text;
            background-color: $white;
            border: 1px solid $text;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            padding: 0px 20px;
            width: fit-content;

            &.active {
                color: $white;
                background-color: $text;
            }
        }
    }

    .button_box:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        row-gap: 24px;
        margin-top: 40px;

        @include lg992 {
            flex-direction: row;
            margin-top: 48px;
        }

        button {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-style: normal;
            line-height: 18px;
            text-align: center;
            border: none;
            outline: none;
            width: fit-content;
            cursor: pointer;
        }

        button:first-of-type {
            font-weight: 700;
            text-decoration-line: underline;
            color: $text;
            background-color: $white;

            &[disabled] {
                cursor: default;
            }
        }

        button:last-of-type {
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 5px;
            padding: 16px 40px;
            color: $text;
            background-color: $primary-yellow;

            &[disabled] {
                color: $white;
                background-color: $border-grey;
                cursor: default;
            }
        }
    }

    .content_box {
        padding: 20px;
        border: 1px solid $secondary-blue;
        position: relative;
        flex-direction: column;
        gap: 28px;
        display: none;

        &.active{
            display: flex;
        }

        @include lg992 {
            flex-direction: row;
        }

        &::before {
            content: url('../../sources/icons/triangle.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            width: 21px;
            height: 20px;
            position: absolute;
            top: -15px;
            left: 30px;
        }

        >div:first-of-type {
            width: auto;
            display: flex;
            flex-direction: column;

            @include lg992 {
                width: 40%;
            }

            p {
                margin: 0;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                color: $text;
                display: inline-flex;
                align-items: center;
            }

            >p {
                margin: 32px 0px;
                font-weight: 700;
            }

            span {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 24px;
                border-radius: 100%;
                flex: none;

            }

            >div {
                display: flex;
                flex-direction: column;
            }

            >div:first-of-type {
                span {
                    background-color: $secondary-blue;
                    color: $white;
                }
            }

            >div:last-of-type {
                span {
                    background-color: $bg-secondary-blue-light;
                    color: $secondary-blue;
                }
            }

            .separator {
                width: 3px;
                height: 30px;
                margin:6px 20px;
                background-color: $border-grey;
            }

        }

        >div:last-of-type {
            padding: 20px;
            color: $text;
            background-color: $bg-secondary-blue-light;
            width: auto;

            @include lg992 {
                width: 60%;
            }

            h3 {
                margin: 0;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: $text;
                margin-bottom: 32px;
            }

            p {
                margin: 0;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                color: $text;
            }

            strong {
                font-weight: 700;
            }

            i {
                font-size: 13px;
                font-style: italic;
            }
        }
    }
}