<!DOCTYPE html>
<html lang="fr" class="scroll-smooth dark ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>ITEMS</title>

    <!-- lien avec la feuille de style compilée tailwind -->
    <link rel="stylesheet" href="../css/output.css">

    <!-- alpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <!-- script JS -->
    <script defer src="../js/script.js"></script>
</head>


<body class="overflow-x-hidden flex flex-col gap-4">


    <!-- Bouton taille DEFAULT 40px de haut lineHeight 24px py 8px et px 16px -->
    <a href=""
        class="body_bold_base text-neutrals-dark bg-kidyellow w-fit inline-block  px-4 py-2 rounded-full hover:scale-105 transition-transform">Contacter
        Gocolo</a>


    <!-- Bouton taille DEFAULT + ICONS 40px de haut lineHeight 24px py 8px et px 16px -->
    <a href=""
        class="body_bold_base text-neutrals-white bg-green w-fit  flex items-center gap-2 px-4 py-2 rounded-full hover:scale-105 transition-transform">
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
        <span class="inline-block">Contacter Gocolo</span>
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
    </a>


    <!-- Bouton taille DEFAULT + DISABLED + ICONS 40px de haut lineHeight 24px py 8px et px 16px -->
    <!-- possibilité de le désactiver -->
    <!-- je ne l'ai pas mis sur les autres boutons, pour éviter de surcharger les éléments -->
    <a href="" aria-disabled="true"
        class="body_bold_base text-neutrals-white bg-green w-fit  flex items-center gap-2 px-4 py-2 rounded-full hover:scale-105 transition-transform 
        aria-disabled:opacity-[0.56] disabled:opacity-[0.56] aria-disabled:pointer-events-none disabled:pointer-events-none">
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
        <span class="inline-block">Contacter Gocolo</span>
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
    </a>

    <!-- Bouton taille LARGE + ICONS 48px de haut lineHeight 24px py 12px et px 24px -->
    <a href=""
        class="body_bold_base text-neutrals-white bg-green w-fit  flex items-center gap-3 px-6 py-3 rounded-full hover:scale-105 transition-transform">
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
        <span class="inline-block">Contacter Gocolo</span>
        <span class="flex-none inline-block w-3.5 h-3.5 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
    </a>

    <!-- Bouton taille MEDIUM + ICONS 32px de haut lineHeight 24px py 12px et px 8px -->
    <a href=""
        class="body_bold_sm text-neutrals-white bg-green w-fit  flex items-center gap-2 px-3 py-2 rounded-full hover:scale-105 transition-transform">
        <span class="flex-none inline-block w-3 h-3 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
        <span class="inline-block">Contacter Gocolo</span>
        <span class="flex-none inline-block w-3 h-3 bg-phone_white bg-center bg-no-repeat bg-contain"></span>
    </a>

    <!-- icone telephone en image de fond 18px de width et height -->
    <span class="flex-none inline-block w-4.5 h-4.5 bg-phone_green bg-center bg-no-repeat bg-contain"></span>



    <span
        class="bg-[url('../sources/icons/tabler-icon-home-shield.svg')] bg-center bg-no-repeat bg-[length:75%_auto]"></span>





    <span
        class="relative after:content-[''] after:inline-block after:absolute after:bottom-[-5px] after:left-[-2.5%] after:h-[11px] after:w-[105%] after:bg-[url('../sources/img/homepage/homepage_vector/homepage_vector_section2_underline.svg')] after:bg-center after:bg-contain after:bg-no-repeat">thématiques</span>

    <div class="
    
    bg-[url('../sources/img/homepage_numbers/8+.svg')]
     bg-no-repeat bg-[left_15px_bottom] md:bg-[left_24px_bottom] 
                                bg-[length:auto_80%] md:bg-[length:60%_auto]
                                
                                
    "></div>








</body>

</html>