<!DOCTYPE html>
<html lang="fr" class="scroll-smooth dark ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARAGRAPH</title>

    <!-- lien avec la feuille de style compilée tailwind -->
    <link rel="stylesheet" href="../css/output.css">


    <!-- script JS -->
    <script defer src="../js/script.js"></script>
</head>

<body class="">


    <!-- /* Body/Bold/xl */ -->
    <p class="font-manrope font-bold text-body_xl">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Bold/lg */ -->
    <p class="font-manrope font-bold text-body_lg">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Bold/base */ -->
    <p class="font-manrope font-bold text-body_base">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Bold/sm */ -->
    <p class="font-manrope font-bold text-body_sm">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Bold/xs */ -->
    <p class="font-manrope font-bold text-body_xs">Almost before we knew it, we had left the ground.</p>


    <!-- /* Body/SemiBold/xl */ -->
    <p class="font-manrope font-semibold text-body_xl">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/SemiBold/lg */ -->
    <p class="font-manrope font-semibold text-body_lg">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/SemiBold/base */ -->
    <p class="font-manrope font-semibold text-body_base">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/SemiBold/sm */ -->
    <p class="font-manrope font-semibold text-body_sm">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/SemiBold/xs */ -->
    <p class="font-manrope font-semibold text-body_xs">Almost before we knew it, we had left the ground.</p>


    <!-- /* Body/Medium/xl */ -->
    <p class="font-manrope font-medium text-body_xl">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Medium/lg */ -->
    <p class="font-manrope font-medium text-body_lg">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Medium/base */ -->
    <p class="font-manrope font-medium text-body_base">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Medium/sm */ -->
    <p class="font-manrope font-medium text-body_sm">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Medium/xs */ -->
    <p class="font-manrope font-medium text-body_xs">Almost before we knew it, we had left the ground.</p>


    <!-- /* Body/Regular/xl */ -->
    <p class="font-manrope font-normal text-body_xl">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Regular/lg */ -->
    <p class="font-manrope font-normal text-body_lg">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Regular/base */ -->
    <p class="font-manrope font-normal text-body_base">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Regular/sm */ -->
    <p class="font-manrope font-normal text-body_sm">Almost before we knew it, we had left the ground.</p>

    <!-- /* Body/Regular/xs */ -->
    <p class="font-manrope font-normal text-body_xs">Almost before we knew it, we had left the ground.</p>
</body>

</html>