<!DOCTYPE html>
<html lang="fr" class="scroll-smooth dark ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITLE</title>

    <meta name="robots" content="noindex">

    <!-- lien avec la feuille de style compilée tailwind -->
    <link rel="stylesheet" href="../css/output.css">




    <!-- script JS -->
    <script defer src="../js/script.js"></script>
</head>

<body class="">


    <!-- /* Title/H1 */ -->
    <h1 class="font-francoisone font-normal uppercase text-title_h1_mobile md:text-title_h1">Almost before we knew it,
        we had
        left the ground.</h1>

    <!-- /* Title/H2 */ -->
    <h2 class="font-francoisone font-normal uppercase text-title_h2_mobile md:text-title_h2">Almost before we knew it,
        we had
        left the ground.</h2>

    <!-- /* Title/H3 */ -->
    <h3 class="font-francoisone font-normal uppercase text-title_h3_mobile md:text-title_h3">Almost before we knew it,
        we had
        left the ground.</h3>

    <!-- /* Title/H4 */ -->
    <h4 class="font-francoisone font-normal uppercase text-title_h4_mobile md:text-title_h4">Almost before we knew it,
        we had
        left the ground.</h4>


    <!-- /* Title/H5 */ -->
    <h5 class="font-francoisone font-normal uppercase text-title_h5_mobile md:text-title_h5">Almost before we knew it,
        we had
        left the ground.</h5>

    <!-- /* Title/H6 */ -->
    <h6 class="font-francoisone font-normal uppercase text-title_h6_mobile md:text-title_h6">Almost before we knew it,
        we had
        left the ground.</h6>


</body>

</html>