/*==================== RESET CSS ====================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button,
select,
textarea {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

a:focus,
a:active,
button:focus,
button:active,
input:active,
input:focus select:active,
select:focus,
textarea:active,
textarea:focus {
    outline: none;
    outline-color: transparent !important;
}


/*================================ CLASSES UTILITAIRES DEBUT /*=======================================*/
/*==================== MARGIN PADDING GAP WIDTH HEIGHT ====================*/

.mw_500_my_auto {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.mw_1000_auto {
    max-width: 1000px;
    margin: auto;
}

.m_auto {
    margin: auto;
}

.my_auto {
    margin-left: auto;
    margin-right: auto;
}

.mw_1280_auto {
    max-width: 1280px;
    margin: auto;
}

.mt_2 {
    margin-top: 2px;
}

.mt_4 {
    margin-top: 4px;
}

.mt_24 {
    margin-top: 24px;
}

.mb_8 {
    margin-bottom: 8px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_32 {
    margin-bottom: 32px;
}

.pt_24 {
    padding-top: 24px;
}

.pb_16 {
    padding-bottom: 16px;
}

.pb_24 {
    padding-bottom: 24px;
}

.pl_16 {
    padding-left: 16px;
}


.gap_8 {
    gap: 8px;
}

.gap_14 {
    gap: 14px;
}

.gap_16 {
    gap: 16px;
}

.gap_24 {
    gap: 24px;
}

.gap_32 {
    gap: 32px;
}

.w_20 {
    width: 20%;
}

.w_75 {
    width: 75%;
}

.w_100 {
    width: 100%;
}

.h_40 {
    height: 40px;
}


/*==================== FLEXBOX ====================*/
.flex {
    display: flex;
    flex-direction: row;
}

.flex_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_start_start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
}

.flex_start_center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex_start_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex_center_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_center_start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.flex_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_between_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_end_center {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}


.flex_column_end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.flex_wrap {
    flex-wrap: wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}

.flex_none {
    flex: none;
}


/*==================== TEXT ALIGN BORDER RADIUS DISPLAY BLOCK & NONE ====================*/
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.border_radius_5 {
    border-radius: 5px;
}

.border_radius_5_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.border_radius_5_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border_radius_10 {
    border-radius: 10px;
}

.dblock {
    display: block;
}

.dnone {
    display: none;
}

.position_relative {
    position: relative;
}

/*================================ CLASSES UTILITAIRES FIN /*=======================================*/


/*==================== FONT-FAMILY ====================*/
html {
    font-family: 'Myriad Pro', 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #2B2E2A;
    background-color: #FFFFFF;
}


/* Titre section */
h1,
h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26.4px;
}

/* Titre formulaire */
h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
}


/* Texte courant */
p,
input,
textarea,
select {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* Pour les labels du formulaire */
.label,
button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

/* Messages d'erreur */
.warning {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}


/*==================== BACKGROUNDS & COLORS ====================*/
.background_grey_strong {
    background-color: #92B838;
}

.color_grey_strong {
    color: #92B838;
}

.background_grey_medium {
    background-color: #ABD34B;
}

.color_grey_medium {
    color: #ABD34B;
}

.background_grey_soft {
    background-color: #F3F7E6;
}

.color_grey_soft {
    color: #F3F7E6;
}

.background_red {
    background-color: #E03727;
}

.color_red {
    color: #E03727;
}

.background_black {
    background-color: #2B2E2A;
}

.color_black {
    color: #2B2E2A;
}

.background_grey {
    background-color: #949494;
}

.color_grey {
    color: #949494;
}

.background_white_break {
    background-color: #F4F4F4;
}

.color_white_break {
    color: #F4F4F4;
}

.background_white {
    background-color: #ffffff;
}

.color_white {
    color: #ffffff;
}

.box_shadow {
    box-shadow: 0px 2px 4px #9c9c9c40;
}


/*==================== PROJET ====================*/
body {
    min-height: 100vh;
    background-image: url('./sources/background_2000_1091.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Pour un conteneur avec des marges constantes 80px quand la largeur vaut 1280px margin: 0 6.25%*/
main {
    margin: 0 16px;
}

.main_container {
    max-height: 100vh;
    padding-top: 20vh;
    padding-bottom: 8vh;
}

.left_container {
    width: 448px;
    height: 72vh;
    flex: none;
}

.right_container {
    width: 800px;
    height: 72vh;
    flex: none;
}

.left_container_header,
.right_container_header {
    height: 118px;
}


.label_box {
    gap: 130px;
    padding: 14px 0px 4px 56px;
}

.reports {
    padding: 8px;
}

.report .separator {
    display: inline-block;
    width: 2px;
    height: 30px;
    background: #F4F4F4;
    border-radius: 2px;
    margin: 0px 8px;
}

.report_name {
    text-transform: uppercase;
}

.view_delete_box div {
    min-width: 49px;
}

form {
    margin: 24px auto;
    height: calc(72vh - 166px);
    overflow-y: auto;
    scrollbar-width: 0px;
}

form::-webkit-scrollbar {
    display: none;
    width: 0px;
}


.prescriber {
    background: #F4F4F4;
    border: 1.5px solid #949494;
    border-radius: 5px;
}

input,
textarea,
select {
    border-style: solid;
    border-width: 1px;
    border-color: #949494;
    border-radius: 5px;
}

textarea {
    min-height: 175px;
    padding: 16px;
}

input:focus,
select:focus {
    border-width: 2px;
    border-color: #2B2E2A;
}


/* Valide si non focus et une valeur est entrée (pas de placeholder) */
input:not(:focus):not(:placeholder-shown):valid,
select:not(:focus):not(:placeholder-shown):valid {
    border-color: #2B2E2A;
}

/* De la meme façon pour la bordure rouge invalide */
input:not(:focus):not(:placeholder-shown):invalid {
    border-width: 2px;
    border-color: #E03727;
}

/* Et pareil pour le message d'erreur */
input:not(:focus):not(:placeholder-shown):invalid~span {
    display: flex;
}


.warning_box {
    position: absolute;
    bottom: -22px;
}

.button_next,
.button_previous {
    padding: 8px 24px;
    border-radius: 5px;
}

.button_previous {
    border: 2px solid #92B838;
}

.button_next:hover,
.button_previous:hover {
    background-color: #ABD34B;
    border-color: #ABD34B;
    color: white;
}

.radio_box {
    position: relative;
    width: 95px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio_box input[type="radio"] {
    width: 95px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
}

.radio_box label {
    color: #949494;
    width: 95px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #949494;
}

.radio_box input[type="radio"]:hover+label {
    color: #2B2E2A;
    background-color: #F3F7E6;
}

.radio_box input[type="radio"]:checked+label {
    color: #2B2E2A;
    background-color: #DCE9C2;
    border: 2px solid #92B838;
}

.radio_box_type,
.radio_box input[name="type"],
.radio_box_type label{
    width: 140px;
    height: 40px;
}

.radio_box_implication,
.radio_box input[name="implication"],
.radio_box_implication label{
    width: 110px;
    height: 40px;
}

.radio_box_classic{
    height: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:8px;
    margin-bottom: 8px;
}

.radio_box_classic input{
    width: 16px;
    height: 16px;
}
