/*================================ GLOBAL =======================================*/
body {
    background-image: url('./sources/background_1440_787.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20vh;
    padding-bottom: 32px;
    background-attachment: fixed;
}


/*================================ HEADER =======================================*/
header {
    display: flex;
    margin-bottom: 32px;
    min-height: 230px;
    gap: 24px;
}

header>div {
    width: calc(50% - 12px);
    flex: 1;
    border-radius: 10px;
    padding: 32px;
    position: relative;
}


header>div:first-of-type>form {
    display: flex;
    flex-direction: column;
}


header>div:first-of-type>form>button {
    align-self: flex-end;
}

header>div:last-of-type>.filleul_non_eligible,
header>div:last-of-type>.code_expire,
header>div:last-of-type>.code_invalide {
    display: none;
}

/* header_filleul_non_eligible */
header.header_filleul_non_eligible>div:first-of-type::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--white_classic);
    opacity: 0.85;
    z-index: 99;
}

header.header_filleul_non_eligible>div:last-of-type>.filleul_non_eligible {
    display: block;
}

header.header_filleul_non_eligible>div:last-of-type>.selection_parrain_container {
    display: none;
}

header.header_filleul_non_eligible>div:last-of-type>.filleul_non_eligible>div {
    display: flex;
    column-gap: 8px;
}

header.header_filleul_non_eligible>div:last-of-type>.filleul_non_eligible>div>div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4px);
    row-gap: 16px;
}

header.header_filleul_non_eligible>div:last-of-type>.filleul_non_eligible>div>div>p {
    display: flex;
    align-items: center;
}

/* header_code_expire */
header.header_code_expire>div:last-of-type>.code_expire {
    display: block;
}

header.header_code_expire>div:last-of-type>.selection_parrain_container {
    display: none;
}

/* header_code_invalide */
header.header_code_invalide>div:last-of-type>.code_invalide {
    display: block;
}

header.header_code_invalide>div:last-of-type>.selection_parrain_container {
    display: none;
}

/* header_code_valide */

header.header_code_expire>div:last-of-type>.code_expire>p:last-of-type,
header.header_code_invalide>div:last-of-type>.code_invalide>p:last-of-type,
.selection_parrain_container>.code_valable>p:last-of-type {
    height: 48px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}



.selection_parrain_container {
    height: 100%;
    width: 100%;
}

/* HEADER.table_selection_parrain */
.table_selection_parrain,
.table_selection_parrain tr,
.table_selection_parrain th,
.table_selection_parrain td {
    text-align: left;
}

/* Hauteur des lignes */
.table_selection_parrain>thead>tr {
    height: 40px;
}

.table_selection_parrain>tbody>tr {
    height: 64px;
}

/* Repartition de la largeur */
.table_selection_parrain>thead>tr>th:first-of-type,
.table_selection_parrain>tbody>tr>td:first-of-type {
    padding-left: 16px;
    width: 15%;
}

.table_selection_parrain>thead>tr>th:nth-child(2),
.table_selection_parrain>tbody>tr>td:nth-child(2) {
    padding-left: 8px;
    width: 27%;
}

.table_selection_parrain>thead>tr>th:nth-child(3),
.table_selection_parrain>tbody>tr>td:nth-child(3) {
    padding-left: 8px;
    width: 30%;
}

.table_selection_parrain>thead>tr>th:last-of-type,
.table_selection_parrain>tbody>tr>td:last-of-type {
    padding-left: 8px;
    padding-right: 16px;
    width: 28%;
}


/* header_pas_de_resultats */
header .pas_de_resultats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}



/*================================ MAIN =======================================*/
main {
    border-radius: 10px;
}


.main_container {
    border-radius: 10px;
}

.main_container>div {
    padding: 32px;
}


/* container_suivi_parrainage */
.container_suivi_parrainage>form {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.container_suivi_parrainage>form>input {
    width: 280px;
    height: 40px;
    padding: 0px 16px;
}



.container_suivi_parrainage>form>:last-child {
    margin-left: 8px;
}


.container_parrains {
    margin-bottom: 40px;
}

.container_parrains>.pas_de_resultats,
.container_filleuls>.pas_de_resultats {
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* table_container */
.table_container>div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.table_container>div:first-of-type>div:first-of-type>div {
    width: 527px;
    display: flex;
}

.table_container>div:first-of-type>div:first-of-type>div>input {
    flex: 1;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: none;
}


.table_container>div:first-of-type>div:first-of-type>div>button {
    width: 40px;
    height: 40px;
    position: relative;
}

.table_container>div:first-of-type>div:first-of-type>div>button::after {
    content: url("./sources/icons/loop_green.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.table_container>div:first-of-type>div:first-of-type>div>button:hover::after {
    content: url("./sources/icons/loop_green_hover.svg");
}



.table_container>div:first-of-type>div:last-of-type {
    width: 255px;
}

.table_container>div>div:last-of-type>select {
    width: 100%;
}




/* main_table */
.main_table,
.main_table tr,
.main_table th,
.main_table td {
    text-align: center;
}

.main_table th {
    cursor: pointer;
    position: relative;
}

.main_table th::after {
    content: url("./sources/icons/thead_tri.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 8px;
    height: 16px;
    margin-left: 8px;
    transform: translateY(4px);
}


.main_table>thead>tr {
    height: 72px;
}

.main_table>tbody>tr {
    height: 64px;
}






/* Pagination */
.pagination_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    margin-top: 24px;
}

.pagination_container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    border-radius: 5px;
}

.pagination_container>div>button {
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-radius: 5px;
}