
<div class="relative w-[324px]">
    <!-- dropdown default start-->
    <div id="dropdown-default" class="w-full z-10 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700">
        <!-- list-group exemple 3 start-->
        <ul class="flex flex-col items-start border-radius-xs border border-neutral-stroke-low bg-neutral-surface-xlow">
            <!--@list-item--horizontal -->
            <li tabindex="0" class="relative flex items-center self-stretch px-space-between-lg py-space-between-md gap-space-between-lg hover:bg-neutral-surface-md hover:shadow-button-nav-hover hover:shadow-primary-surface-md transition-all duration-300 ease-in-out after:flex after:absolute after:z-10 after:w-full after:h-full after:hover:pointer-events-none after:inset-0 focus-visible:after:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none focus-visible:outline-none cursor-pointer">
                <!--    <a href="" class="flex flex-1 text-primary-text-md after:flex after:absolute after:z-10 after:w-full after:h-full after:inset-0 after:focus-visible:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none">-->
                <div class="flex items-center flex-1 gap-space-between-lg">

                    <div class="flex flex-1 items-center gap-space-between-sm">
                        <div class="flex flex-col flex-1 gap-space-between-2xs justify-center items-start ">
                            <!--                    Descritpion-->
                            <span class="flex flex-1 body-l font-mono text-neutral-text-xhigh self-stretch">
                    ${label}
                    </span>
                            <!--                    Description end-->
                        </div>
                        ${arrow}
                    </div>
                </div>
                <!--    </a>-->
            </li>
            <!--@list-item--horizontal end-->
            <!--@list-item--horizontal -->
            <li tabindex="0" class="relative flex items-center self-stretch px-space-between-lg py-space-between-md gap-space-between-lg hover:bg-neutral-surface-md hover:shadow-button-nav-hover hover:shadow-primary-surface-md transition-all duration-300 ease-in-out after:flex after:absolute after:z-10 after:w-full after:h-full after:hover:pointer-events-none after:inset-0 focus-visible:after:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none focus-visible:outline-none cursor-pointer">
                <!--    <a href="" class="flex flex-1 text-primary-text-md after:flex after:absolute after:z-10 after:w-full after:h-full after:inset-0 after:focus-visible:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none">-->
                <div class="flex items-center flex-1 gap-space-between-lg">

                    <div class="flex flex-1 items-center gap-space-between-sm">
                        <div class="flex flex-col flex-1 gap-space-between-2xs justify-center items-start ">
                            <!--                    Descritpion-->
                            <span class="flex flex-1 body-l font-mono text-neutral-text-xhigh self-stretch">
                    ${label}
                    </span>
                            <!--                    Description end-->
                        </div>
                        ${arrow}
                    </div>
                </div>
                <!--    </a>-->
            </li>
            <!--@list-item--horizontal end-->
            <!--@list-item--horizontal -->
            <li tabindex="0" class="relative flex items-center self-stretch px-space-between-lg py-space-between-md gap-space-between-lg hover:bg-neutral-surface-md hover:shadow-button-nav-hover hover:shadow-primary-surface-md transition-all duration-300 ease-in-out after:flex after:absolute after:z-10 after:w-full after:h-full after:hover:pointer-events-none after:inset-0 focus-visible:after:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none focus-visible:outline-none cursor-pointer">
                <!--    <a href="" class="flex flex-1 text-primary-text-md after:flex after:absolute after:z-10 after:w-full after:h-full after:inset-0 after:focus-visible:outline after:outline-primary-stroke-md after:-outline-offset-[3px] after:border-radius-2xs appearance-none outline-none">-->
                <div class="flex items-center flex-1 gap-space-between-lg">

                    <div class="flex flex-1 items-center gap-space-between-sm">
                        <div class="flex flex-col flex-1 gap-space-between-2xs justify-center items-start ">
                            <!--                    Descritpion-->
                            <span class="flex flex-1 body-l font-mono text-neutral-text-xhigh self-stretch">
                    ${label}
                    </span>
                            <!--                    Description end-->
                        </div>
                        ${arrow}
                    </div>
                </div>
                <!--    </a>-->
            </li>
            <!--@list-item--horizontal end-->
        </ul>
        <!-- list-group exemple 3 end-->
    </div>
    <!-- dropdown default end-->
</div>
