
<!--tables honoraires-->
<div class="flex w-fit max-w-full overflow-x-auto">
    <table class="w-fit text-left [&_tr:not(:last-of-type)]:border-b border-neutral-stroke-low [&_th]:min-w-[160px] [&_th:nth-child(3)]:text-primary-text-md [&_td:nth-child(3)]:text-primary-text-md [&_th:nth-child(4)]:text-secondary-text-md [&_td:nth-child(4)]:text-secondary-text-md [&_th:nth-child(5)]:text-success-text-md [&_td:nth-child(5)]:text-success-text-md font-mono">
        <caption class="body-l-bold font-mono pb-2.5">Tableau honoraires</caption>
        <colgroup >
            <col span="1" class="w-[600px] min-w-[600px] border-r">
            <col span="4" class="w-[128px]">
        </colgroup>
        <thead class="bg-neutral-surface-md">
        <tr class="border-b border-neutral-stroke-low">
            <!--@tables-cell--header-->
            <th scope="col" class="${cellSpacing} bg-neutral-surface-md">
                <div title="table-cell-body" class="flex justify-center items-center flex-1 ">
                    <div title="table-cell-center" class="flex flex-col items-start flex-1 gap-space-between-2xs text-left ">
                        <span class="inline-flex self-stretch ${headerTextSize}">Honoraires médicaux - consultation généraliste</span>
                    </div>
                </div>
            </th>
            <!--@tables-cell--header end-->
            <!--@tables-cell--header-->
            <th scope="col" class="${cellSpacing} bg-neutral-surface-md">
                <div title="table-cell-body" class="flex justify-center items-center flex-1 ">
                    <div title="table-cell-center" class="flex flex-col items-start flex-1 gap-space-between-2xs text-left ">
                        <span class="inline-flex self-stretch ${headerTextSize}">Dépense engagée</span>
                    </div>
                </div>
            </th>
            <!--@tables-cell--header end-->
            <!--@tables-cell--header-->
            <th scope="col" class="${cellSpacing} bg-neutral-surface-md">
                <div title="table-cell-body" class="flex justify-center items-center flex-1 ">
                    <div title="table-cell-center" class="flex flex-col items-start flex-1 gap-space-between-2xs text-left ">
                        <span class="inline-flex self-stretch ${headerTextSize}">Part sec. sociale</span>
                    </div>
                </div>
            </th>
            <!--@tables-cell--header end-->
            <!--@tables-cell--header-->
            <th scope="col" class="${cellSpacing} bg-neutral-surface-md">
                <div title="table-cell-body" class="flex justify-center items-center flex-1 ">
                    <div title="table-cell-center" class="flex flex-col items-start flex-1 gap-space-between-2xs text-left ">
                        <span class="inline-flex self-stretch ${headerTextSize}">Part de la mutuelle</span>
                    </div>
                </div>
            </th>
            <!--@tables-cell--header end-->
            <!--@tables-cell--header-->
            <th scope="col" class="${cellSpacing} bg-neutral-surface-md">
                <div title="table-cell-body" class="flex justify-center items-center flex-1 ">
                    <div title="table-cell-center" class="flex flex-col items-start flex-1 gap-space-between-2xs text-left ">
                        <span class="inline-flex self-stretch ${headerTextSize}">Reste à charge</span>
                    </div>
                </div>
            </th>
            <!--@tables-cell--header end-->

        </tr>
        </thead>
        <tbody>
        <tr>
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Consultation d’un médecin traitant généraliste sans dépassement d’honoraires (1)</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">25€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">16,50€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">7,50€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">1€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
        </tr>
        <tr>
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Consultation d’un médecin traitant généraliste avec dépassement d’honoraires maîtrisés (1) (2)</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">25€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">16,50€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">7,50€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
            <!--@tables-cell--content-->
            <td class="${cellSpacing} ">
                <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                    <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                        <span class="inline-flex flex-1 self-stretch ${contentTextSize}">1€</span>
                    </div>
                </div>
            </td>
            <!--@tables-cell--content end-->
        </tr>
        </tbody>
    </table>
</div>
<!--tables honoraires end-->