<!--tables horaires-->
<div class="flex w-fit max-w-full overflow-x-auto">
<table class="w-fit text-left  font-mono">
    <caption class="body-l-bold font-mono pb-2.5">Horaires</caption>
    <colgroup >
        <col class="w-[132px]">
        <col class="w-[309px]">
    </colgroup>
    <tbody>
    <tr class="odd:bg-neutral-surface-xlow even:bg-neutral-surface-md">
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Lundi</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">08h00 -12h00 / 13h30 - 19h00</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
    </tr>
    <tr class="odd:bg-neutral-surface-xlow even:bg-neutral-surface-md">
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Lundi</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">08h00 -12h00 / 13h30 - 19h00</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
    </tr>
    <tr class="odd:bg-neutral-surface-xlow even:bg-neutral-surface-md">
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Lundi</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">08h00 -12h00 / 13h30 - 19h00</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
    </tr>
    <tr class="odd:bg-neutral-surface-xlow even:bg-neutral-surface-md">
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">Lundi</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
        <!--@tables-cell--content-->
        <td class="${cellSpacing} ">
            <div title="table-cell-body" class="flex flex-col flex-1 justify-center gap-space-between-xs">
                <div title="table-cell-body-text" class="flex items-center self-stretch gap-space-between-sm ">
                    <span class="inline-flex flex-1 self-stretch ${contentTextSize}">08h00 -12h00 / 13h30 - 19h00</span>
                </div>
            </div>
        </td>
        <!--@tables-cell--content end-->
    </tr>
    </tbody>
</table>
</div>
<!--tables horaires end-->